<div class="row">
    <div class="input-field col s2 m3 l2" ng-include="'app/modules/components/card/checker/partials/inputs/unclear.html'"></div><!-- col -->
    <div class="input-field col s12 m9 l10">
        <input id="{{card.clipHtmlId}}"  type="text" name="{{card.clipHtmlName}}" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" ng-attr-autofocus="{{$index == 0 || undefined}}" data-position="bottom" data-delay="50" >
        <label for="{{card.clipHtmlId}}"></label>
    </div><!-- col -->
</div><!-- row -->