<input type="checkbox" id="{{card.clipUnclearCheckId}}" name="{{card.clipUnclearCheckId}}" class="unclear" value="UN"
                     ng-model="cardCtrl.isUnclear" ng-focus="cardCtrl.setActive()" ng-blur="cardCtrl.setInactive()">
<label for="{{card.clipUnclearCheckId}}" data-position="bottom" data-delay="50">{{ 'CLIPS.UNCLEAR' | translate }}</label>
<input type="checkbox" id="chkBoxOverflow_{{card.clipNo}}" name="chkBoxOverflow_{{card.clipNo}}" class="overflow"
       value="OV" ng-model="cardCtrl.isOverflow" ng-focus="cardCtrl.setActive()" ng-blur="cardCtrl.setInactive()">
<label for="chkBoxOverflow_{{card.clipNo}}" data-position="bottom" data-delay="50">
    {{ 'CLIPS.OVERFLOW' |  translate}}
</label>