<div class="row">
    <div class="input-field col s4" ng-include="'app/modules/components/card/checker/partials/inputs/unclear.html'"></div><!-- col -->
    <div class="input-field col s4">
        <input id="{{card.clipHtmlId}}-y" name="{{card.clipHtmlName}}" type="radio" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="Y" ng-attr-autofocus="{{$index == 0 || undefined}}">
        <label for="{{card.clipHtmlId}}-y" data-position="bottom" data-delay="50" >{{ 'CLIPS.OPTIONS.YES' | translate }}</label>
    </div>
    <div class="input-field col s4">
        <input id="{{card.clipHtmlId}}-n" name="{{card.clipHtmlName}}" type="radio" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="N">
        <label for="{{card.clipHtmlId}}-n" data-position="bottom" data-delay="50" >{{ 'CLIPS.OPTIONS.NO' | translate }}</label>
    </div>
</div>