<div class="row">
    <div class="input-field col s12 m9 l10">
        <input id="{{card.clipHtmlId}}" type="text" name="{{card.clipHtmlName}}" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear">
        <label for="{{card.clipHtmlId}}"></label>
    </div><!-- col -->
    <div class="input-field col s2 m3 l2">
        <input type="checkbox" id="chkBoxUnclear_{{card.clipNo}}" name="chkBoxUnclear_{{card.clipNo}}" class="unclear" value="UN" ng-model="cardCtrl.isUnclear" ng-focus="cardCtrl.setActive()" ng-blur="cardCtrl.setInactive()">
        <label for="chkBoxUnclear_{{card.clipNo}}">{{ 'CLIPS.UNCLEAR' | translate }}</label>
    </div><!-- col -->
</div><!-- row -->