<div ng-controller="qualityController as qualityCtrl" class="lg-loginController" ng-init="qualityCtrl.init()">
  
  <div class="qualityFirstPage" ng-show="qualityCtrl.vm.tableShowFlag">
    <div class="row">
      <div class="col s8 offset-s2 txt-center">
          <div class="qSearchTxt mg-top-20">
            <p><span><i class="fa fa-search" aria-hidden="true"></i></span> Search Table : </p>
            <input type="text" ng-model="qualityPageName" placeholder="enter query">
          </div>
          <table class="bordered highlight striped dBTable" ng-init="qualityCtrl.paginate()">
            <thead>
              <tr>
                  <th data-field="id">Seq No.</th>
                  <th data-field="id">Category</th>
                  <th data-field="id">Form Name</th>
                  <th data-field="price">Total Pages</th>
                  <th data-field="price">Submitted on</th>
                  <th data-field="price">Status</th>
                  <th data-field="price">Age (hours)</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="entry in qualityCtrl.vm.formsArray | filter:qualityPageName">
                <td>{{$index + 1}}</td>
                <td>{{entry.IMG_FORM_CAT}}</td>
                <td><a ng-click="qualityCtrl.onClickForm(entry);">{{entry.IMG_FORM_NAME}}</a></td>
                <td>{{entry.IMG_NUM_COUNT}}</td>
                <td>{{entry.IMG_SUBMISSION_TIME | date }}</td>
                <td>{{entry.FORM_STATUS}}</td>
                <td>{{entry.IMG_FORM_AGE}}</td>
              </tr>
            </tbody>
          </table>
          <div class="well">
              <paging
                  class="small"
                  page="qualityCtrl.vm.pageNo" 
                  page-size="qualityCtrl.vm.pageSize" 
                  total="qualityCtrl.vm.formsArraylength"
                  show-prev-next="true"
                  show-first-last="true"
                  paging-action="qualityCtrl.DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
              </paging>   
          </div>
      </div>
    </div>    
  </div>

  <div class="qualitySecondPage" ng-hide="qualityCtrl.vm.tableShowFlag">
    <div class="row dbRow1 mg-btm-0">
      <div class="col s6 txt-center brdrRghtTop posRel">
        <span class="qtBack" ng-click="qualityCtrl.vm.tableShowFlag = true;"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</span>
        <h5>Selected Template</h5>
      </div>
      <div class="col s2 txt-center brdrRghtTop">
        <h5>Template List</h5>    
      </div>
      <div class="col s4 txt-center">
        <h5>Field Entries</h5>    
      </div>
    </div>

    <div class="row mg-btm-0">
      <div class="col s6 txt-center">
        <div class="qtTempImgDiv">
        <img class="qtTempImg" ng-src="{{qualityCtrl.vm.selectedImageSrc}}" >
        </div>
        <div class="qtZoomBtns">
          <h4><i class="fa fa-plus-circle" aria-hidden="true"></i></h4>
          <h4><i class="fa fa-minus-circle" aria-hidden="true"></i></h4>
        </div>
      </div>
      <div class="col s2 txt-center qtTempListDiv">
        <!-- <img class="responsive-img z-depth-1 qt-thumb-img hoverable"  src="assets/img/forma.jpg" alt=""> -->
        <div class="qt-thumb-img-div" ng-repeat='image in qualityCtrl.vm.imagesArray'>
          <img class="responsive-img z-depth-1 qt-thumb-img hoverable"  ng-src="{{image.IMG_PATH}}" ng-click="qualityCtrl.selectedImage(image);">
        </div>
      </div>
      <div class="col s4 txt-center">
          <div class="qt-right-tb-div">
            <table class="bordered highlight striped dBTable">
              <thead>
                <tr>
                    <th data-field="id">Field Name</th>
                    <th data-field="name">Field Value</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='imgData in qualityCtrl.vm.imagesDataArray'>
                  <td>{{imgData.CLIP_FIELD_NAME}}</td>
                  <td><input type="text" value="Application Form" class="qtEditInp" ng-model="imgData.OUTTRAY_INPUT"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="btn waves-effect waves-light medBtnRef mg-right-10 mg-top-10" ng-click="qualityCtrl.postData();">Save <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
      </div>
    </div>

  </div>

</div>
