<div class="row mg-btm0" style="margin-left:275px;" ng-controller="matchFormController" ng-init="ctrl.init();">
    <new-template-modal></new-template-modal>
    <div class="col s12">
        <div class="row mg-btm0">
            <div class="col m2 mF-img-opt">
                <p class="mF-small-heading">{{ 'MATCH_FORM.AVAILABLE_TEMPLATES' | translate }}</p>
                <img class="responsive-img z-depth-1 mF-thumb-img hoverable" ng-click="ctrl.selectAvailableTemplate(img);"
                     ng-repeat="img in vm.custAvailableTemplates" src="{{img.template_path}}">
            </div>

            <div class="col m10 mF-match-cont">
                <div class="row">
                    <div class="col m6 mF-temp-cont">
                        <p class="mF-small-heading">{{ 'MATCH_FORM.CUSTOMER_TEMPLATE' | translate }}</p>
                        <img class="responsive-img z-depth-1 mF-fix-img hoverable" ng-src="{{vm.custTemplatePath}}">
                    </div>
                    <div class="col m6 mF-uImg-cont">
                        <p class="mF-small-heading">{{ 'MATCH_FORM.UNINDENTIFIED_FORM' | translate }}</p>
                        <img class="responsive-img z-depth-1 mF-uID-img hoverable" ng-src="{{vm.unidentifiedFormPath}}">
                    </div>
                </div>
                <div class="row" style="margin-bottom:0; margin-top: 0;">
                    <div class="col m12">
                        <p class="mF-label-txt">{{vm.statusLabel}}</p>
                    </div>                
                    <div class="col m12 mF-button-cont">
                        <button class="btn waves-effect waves-red  red lighten-1" type="submit" name="action" onclick="Materialize.toast('Discarded', 2000)" ng-click="ctrl.saveDiscard(); optionBtnClick();">{{ 'MATCH_FORM.BUTTONS.DISCARD' | translate }}
                            <i class="material-icons right">not_interested</i>
                        </button>

                        <button class="btn waves-effect waves-teal" type="submit" name="action" onclick="Materialize.toast('Its a Match !!!', 2000);" ng-click="ctrl.saveMatch(); optionBtnClick();">{{ 'MATCH_FORM.BUTTONS.MATCH' | translate }}
                            <i class="material-icons right">done</i>
                        </button>

                        <button class="btn waves-effect waves-teal" type="submit" name="action" onclick="Materialize.toast('Its a new template !!!', 2000);" ng-click="ctrl.foundNewTemplate(); optionBtnClick();">{{ 'MATCH_FORM.BUTTONS.NEW' | translate }}
                            <i class="material-icons right">done</i>
                        </button>

                        <button class="btn waves-effect " type="submit" name="action" ng-click="ctrl.getNext()">{{ 'MATCH_FORM.BUTTONS.NEXT' | translate }}
                            <i class="material-icons right">play_arrow</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
