<div id="newTemplateModal" class="modal">
    <div class="modal-content">

        <div class="row">
            <div class="col s12"><span class="flow-text"><h5>{{ 'MATCH_FORM.NEW_TEMPLATE.FOUND_NEW_TEMPLATE' | translate }}</h5></span></div>
        </div>

        <div class="row">
            <div class="col s8">
                {{ 'MATCH_FORM.NEW_TEMPLATE.INFORM_CUSTOMER' | translate }}
            </div>
            <div class="col s4">
                <button class="modal-action modal-close waves-effect waves-light btn col s8"><strong>{{ 'New Template' | translate }}</strong></button>
            </div>
        </div>

        <div class="row">
            <div class="col s8">
                {{ 'MATCH_FORM.NEW_TEMPLATE.SEND_FOR_REPROCESSING' | translate }}
            </div>
            <div class="col s4">
                <button class="modal-action modal-close waves-effect waves-light btn col s8"><strong>{{ 'Reprocess' | translate }}</strong></button>
            </div>
        </div>

        <div class="row">
            <div class="col s8">
                {{ 'MATCH_FORM.NEW_TEMPLATE.CANCEL_INSTRUCTION' | translate }}
            </div>
            <div class="col s4">
                <button class="modal-action modal-close waves-effect waves-light btn col s8"><strong>{{ 'MATCH_FORM.NEW_TEMPLATE.CANCEL' | translate }}</strong></button>
            </div>
        </div>

    </div>
    <!--div-- class="modal-footer ">
        <button class="modal-action modal-close waves-effect waves-light btn"><strong>Cancel</strong></button>
        <button class="modal-action modal-close waves-effect waves-light btn"><strong>{{ 'Reprocess' | translate }}</strong></button>
        <button class="modal-action modal-close waves-effect waves-light btn"><strong>{{ 'New Template' | translate }}</strong></button>
    </div-->
</div>
