<div ng-controller="dashboardController as dashCtrl" class="lg-loginController" ng-init="dashCtrl.init()">
  <div class="row dbRow1">
  	<div class="col s4 txt-center brdrRghtTop">
  		<h5>{{ 'CUSTOMER.DASHBOARD.SIDEBAR.SUMMARY.TITLE' | translate }}</h5>
  	</div>
  	<div class="col s8 txt-center">
  		<h5>{{ 'CUSTOMER.DASHBOARD.MAIN.TITLE' | translate }}</h5>		
  	</div>
  </div>

  <div class="row">
  	<div class="col s4 brdrRghtTop blue-grey lighten-5 leftCardHead">
  		<div class="row deep-orange lighten-4 mg-top-10 z-depth-1">
  			<div class="col s12 padding-0">
  				<p class="mg-0 red accent-1 dbCardTitle">{{ 'CUSTOMER.DASHBOARD.SIDEBAR.SUMMARY.IMMEDIATE_ATTENTION' | translate }}</p> 
  				<p class="mg-0 dbCardContent">{{ 'CUSTOMER.DASHBOARD.SIDEBAR.SUMMARY.EXCEPTIONS' | translate }}<span>{{ 'CUSTOMER.DASHBOARD.SIDEBAR.SUMMARY.ENCOUNTERED' | translate }}</span></p>
  				<a class="btn waves-effect waves-light dbBtnManage">{{ 'CUSTOMER.DASHBOARD.SIDEBAR.SUMMARY.MANAGE_EXCEPTIONS' | translate }} <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  			</div>
  		</div>
  		<div class="row z-depth-1 white">
  			<div class="col s12">
  				<p class="mg-0 dbCardContent2">{{ 'CUSTOMER.DASHBOARD.SIDEBAR.SUMMARY.PAGES_SUBMITTED_TODAY' | translate }} <span class="teal dbCardSpan">900</span></p>
  			</div>
  		</div>
  		<div class="row z-depth-1 white">
  			<div class="col s12">
  				<p class="mg-0 dbCardContent2">{{ 'CUSTOMER.DASHBOARD.SIDEBAR.SUMMARY.PAGES_PROCESSED_TODAY' | translate }} <span class="teal dbCardSpan">900</span></p>
  			</div>
  		</div>
  		<div class="row z-depth-1 white">
  			<div class="col s12">
  				<p class="mg-0 dbCardContent2">{{ 'CUSTOMER.DASHBOARD.SIDEBAR.SUMMARY.IMAGE_CLIPS_GENERATED_TODAY' | translate }} <span class="teal dbCardSpan">9000</span></p>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col s12 txt-right">
  				<button class="btn waves-effect waves-light medBtnRef">{{ 'CUSTOMER.DASHBOARD.SIDEBAR.SUMMARY.REFRESH' | translate }} <i class="fa fa-refresh" aria-hidden="true"></i></button>
  			</div>
  		</div>
  	</div>
  	<div class="col s8 offset-s4 txt-center">
        <table class="bordered highlight striped dBTable">
          <thead>
            <tr>
                <th data-field="id">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_TABLE.FORM_NO' | translate }}</th>
                <th data-field="name">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_TABLE.FORM_NAME' | translate }}</th>
                <th data-field="price">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_TABLE.SUBMITTED_ON' | translate }}</th>
                <th data-field="price">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_TABLE.STATUS' | translate }}</th>
                <th data-field="price">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_TABLE.DATA_DOWNLOAD' | translate }}</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
            <tr>
              <td>0001</td>
              <td>Application Form</td>
              <td>04/01/2016</td>
              <td>Completed</td>
              <td>abcdef12345.pdf</td>
            </tr>
          </tbody>
        </table>
        <div class="well">
            <paging
                class="small"
                page="1" 
                page-size="2" 
                total="dashCtrl.total"
                show-prev-next="true"
                show-first-last="true"
                paging-action="dashCtrl.DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
            </paging>   
        </div>
  	</div>
  </div>
</div>