<div class="card-imagerotation" ng-include="'app/modules/components/card/checker/partials/card-imagerotation.html'"></div>

<div class="row">
    <div class="col s6">
        <div class="card-image">
            <span class="card-title">{{'CLIPS.CHECKER.VERIFY' | translate}}</span>
            <img ng-src="{{card.clipPath}}" class="card-image-vertical rotate-{{cardCtrl.getRotation()}}" fallback-src="assets/img/no-image.png" loading-src="assets/img/no-image.png">
            <p class="card-msg card-msg-vertical">{{card.customMsg}}</p>
        </div><!-- card-image -->
        <div class="card-content card-content-verify">
            <div ng-repeat="userValue in card.checkerDataArr" class="row card-checker-row">
                <div class="col s12">
                    <input type="checkbox" id="{{userValue.htmlId}}" class="correct" name="{{userValue.htmlId}}" value="{{userValue.outTrayInput}}">
                    <label class="card-user-input" for="{{userValue.htmlId}}" data-position="bottom" data-delay="50">{{'CLIPS.CHECKER.CORRECT' | translate}}</label>
                </div>
                <div class="col s12 card-checker-user-value">
                    <strong>{{'CLIPS.CHECKER.USER_VALUE' | translate}}</strong>: {{card.checkerDataArr[0].outTrayInput}}
                </div>
            </div>

        </div><!-- card-content -->
    </div><!-- col -->
    <div class="col s6">
        <div class="card-content card-content-vertical">



            <div class="row no-margin">
                <div class="col s10">
                    <span class="card-title">{{'CLIPS.CHECKER.EDIT' | translate}}</span>
                </div>
                <div class="col s2">
                    <i class="material-icons right tooltipped" data-tooltip="{{ card.tooltipMsg | translate}}">info</i>
                </div>
            </div>


            <div ng-include="cardCtrl.getInputsPartialPath(card.clipType)"></div>



        </div><!-- card-content -->
        <div class="card-content card-content-vertical" ng-include="'app/modules/components/card/checker/partials/inputs/unclear.html'"></div>
    </div><!-- col -->
</div><!-- row -->




