<div class="card-image" ng-include="'app/modules/components/card/checker/partials/card-title-and-image.html'"></div><!-- card-image -->
<div class="card-content card-content-verify">
    <p class="card-msg card-msg-horizontal">{{card.customMsg}}</p>
    <div class="row card-checker-row">
        <div class="col s12 m4">
            <span class="card-title">{{'CLIPS.CHECKER.VERIFY' | translate}}</span>
        </div><!-- col -->
    </div><!-- row -->
    <div ng-repeat="userValue in card.checkerDataArr" class="row card-checker-row">
        <div class="col s4 m2">
            <input type="checkbox" id="{{userValue.htmlId}}" class="correct" name="{{userValue.htmlId}}"
                   value="{{userValue.outTrayInput}}">
            <label class="card-user-input" for="{{userValue.htmlId}}" data-position="bottom" data-delay="50">{{userValue.htmlId}}
                {{'CLIPS.CHECKER.CORRECT' | translate}}</label>
        </div><!-- col -->
        <div class="col s8 m4">
            <p class="card-user-value"><strong>{{'CLIPS.CHECKER.USER_VALUE' | translate}}</strong>:
                {{userValue.outTrayInput}}</p>
        </div><!-- col -->
    </div>
</div>
<div class="card-content card-content-edit">
    <div class="row no-margin">
        <div class="col s10">
            <span class="card-title">{{'CLIPS.CHECKER.EDIT' | translate}}</span>
        </div>
        <div class="col s2">
            <i class="material-icons right tooltipped" data-tooltip="{{ card.tooltipMsg | translate}}">info</i>
        </div>
    </div>
    <div ng-include="cardCtrl.getInputsPartialPath(card.clipType)"></div>
</div>

