<div class="row" style="margin-left:275px;" ng-controller="formEntryController" ng-init="ctrl.init();">
    <div class="row">
        <div class="col m7 fe-img-fill-cont">
            <p class="fe-small-heading">{{ 'ENTRY_FORM.CUSTOMER_FORM' | translate }}</p>
            <img class="responsive-img z-depth-1 fe-fix-img hoverable" ng-src="{{vm.custFormPath}}">
        </div>
        <div class="col m5 fe-input-opt">
            <p class="fe-small-heading">{{ 'ENTRY_FORM.ENTRY_FIELDS' | translate }}</p>
            <div class="fe-inp-scroll">
                <table class="striped">
                    <tbody>
                        <tr ng-repeat="field in vm.fieldsArray">
                            <td>
                                <p class="no-margin no-padding">{{field.clipName}} : {{field.customMessage}} </p>
                                <input class="no-margin no-padding mg-btm0" type="text" ng-model="field.clipValue" placeholder="{{ 'ENTRY_FORM.PLACEHOLDER' | translate }}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m12 mF-button-cont">
            <button class="btn waves-effect waves-teal" type="submit" name="action"  ng-click="ctrl.saveForm();">{{ 'ENTRY_FORM.BUTTONS.SUBMIT' | translate }}
                <i class="material-icons right">done</i>
            </button>
            <button class="btn waves-effect waves-teal" type="submit" name="action"   ng-click="ctrl.nextForm();">{{ 'ENTRY_FORM.BUTTONS.NEXT' | translate }}
                <i class="material-icons right">done</i>
            </button>
        </div>
    </div>
</div>
