<div class="row" style="margin:0">
    <div class=" col s12 m4 offset-m1 l5">
        <input id="{{card.clipHtmlId}}" type="text" class="validate" name="{{card.clipHtmlName}}" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" placeholder="{{ 'CLIPS.PLACEHOLDER.NUMBERS_ONLY' | translate }}" ng-model="cardCtrl.date" digits-only ng-trim="false" ng-attr-autofocus="{{$index == 0 || undefined}}" data-position="bottom" data-delay="50">
        <label for="{{card.clipHtmlId}}"></label>
    </div><!-- col -->
    <div class=" col s12 m4 l5">
        <input id="{{card.clipHtmlId2}}" type="text" class="validate" name="{{card.clipHtmlName}}" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" placeholder="{{ 'CLIPS.PLACEHOLDER.HHMMSS' | translate }}" ng-model="cardCtrl.time" digits-only ng-trim="false" data-position="bottom" data-delay="50">
        <label for="{{card.clipHtmlId2}}"></label>
    </div><!-- col -->
</div><!-- row -->