<div class="card-row-hor-multi-content">
    <div class="row no-margin">
        <div class="col s2 m2">
            <input id="{{card.clipHtmlId}}-1" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="1" ng-attr-autofocus="{{$index == 0 || undefined}}">
            <label for="{{card.clipHtmlId}}-1"  data-position="bottom" data-delay="50" >1</label>
        </div>
        <div class="col s2 m2">
            <input id="{{card.clipHtmlId}}-2" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="2">
            <label for="{{card.clipHtmlId}}-2"  data-position="bottom" data-delay="50" >2</label>
        </div>
        <div class="col s2 m2">
            <input id="{{card.clipHtmlId}}-3" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="3">
            <label for="{{card.clipHtmlId}}-3"  data-position="bottom" data-delay="50" >3</label>
        </div>
        <div class="col s2 m2">
            <input id="{{card.clipHtmlId}}-4" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="4">
            <label for="{{card.clipHtmlId}}-4"  data-position="bottom" data-delay="50" >4</label>
        </div>
        <div class="col s2 m2">
            <input id="{{card.clipHtmlId}}-5" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="5">
            <label for="{{card.clipHtmlId}}-5" data-position="bottom" data-delay="50" >5</label>
        </div>
        <div class="col s2 m2">
            <input id="{{card.clipHtmlId}}-6" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="6">
            <label for="{{card.clipHtmlId}}-6"  data-position="bottom" data-delay="50" >6</label>
        </div>
    </div>
</div>