<div class="card-row-hor-content">
    <div class="row no-margin">
    <div class="col s6">
        <input id="{{card.clipHtmlId}}-s" name="{{card.clipHtmlName}}" type="radio" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="S" ng-attr-autofocus="{{$index == 0 || undefined}}">
        <label for="{{card.clipHtmlId}}-s" data-position="bottom" data-delay="50" >{{ 'CLIPS.OPTIONS.SELECTED' | translate }}</label>
    </div>
    <div class="col s6">
        <input id="{{card.clipHtmlId}}-n" name="{{card.clipHtmlName}}" type="radio" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="NS">
        <label for="{{card.clipHtmlId}}-n" data-position="bottom" data-delay="50" >{{ 'CLIPS.OPTIONS.NOT_SELECTED' | translate }}</label>
    </div>
    </div>
</div>