<div class="row" style="margin:0">
    <div class="col s12 m12 l12">
        <input id="{{card.clipHtmlId}}"  type="text" name="{{card.clipHtmlName}}" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" ng-attr-autofocus="{{$index == 0 || undefined}}" data-position="bottom" data-delay="50" >
        <label for="{{card.clipHtmlId}}"></label>
    </div><!-- col -->
</div><!-- row -->