<div class="row">
    <div class="col s10">
        <input type="checkbox" id="chkBoxUnclear_{{card.clipNo}}" name="chkBoxUnclear_{{card.clipNo}}" class="unclear"
               value="UN" ng-model="cardCtrl.isUnclear" ng-focus="cardCtrl.setActive()" ng-blur="cardCtrl.setInactive()">
        <label for="chkBoxUnclear_{{card.clipNo}}" data-position="bottom" data-delay="50">
            {{ 'CLIPS.UNCLEAR' |  translate}}
        </label>
        <input type="checkbox" id="chkBoxOverflow_{{card.clipNo}}" name="chkBoxOverflow_{{card.clipNo}}" class="overflow"
               value="OV" ng-model="cardCtrl.isOverflow" ng-focus="cardCtrl.setActive()" ng-blur="cardCtrl.setInactive()">
        <label for="chkBoxOverflow_{{card.clipNo}}" data-position="bottom" data-delay="50">
            {{ 'CLIPS.OVERFLOW' |  translate}}
        </label>
    </div>
    <div class="col s2">
        <i class="material-icons right tooltipped" data-tooltip="{{ card.tooltipMsg | translate}}">info</i></p>
    </div>
</div>