<div class="row">
    <div class="col s4">
        <p>
            <input id="{{card.clipHtmlId}}-1" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="1" ng-attr-autofocus="{{$index == 0 || undefined}}">
            <label for="{{card.clipHtmlId}}-1"  data-position="bottom" data-delay="50" >1</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-2" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="2">
            <label for="{{card.clipHtmlId}}-2"  data-position="bottom" data-delay="50" >2</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-3" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="3">
            <label for="{{card.clipHtmlId}}-3"  data-position="bottom" data-delay="50" >3</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-4" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="4">
            <label for="{{card.clipHtmlId}}-4"  data-position="bottom" data-delay="50" >4</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-5" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="5">
            <label for="{{card.clipHtmlId}}-5"  data-position="bottom" data-delay="50" >5</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-6" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="6">
            <label for="{{card.clipHtmlId}}-6"  data-position="bottom" data-delay="50" >6</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-7" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="7">
            <label for="{{card.clipHtmlId}}-7"  data-position="bottom" data-delay="50" >7</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-8" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="8">
            <label for="{{card.clipHtmlId}}-8"  data-position="bottom" data-delay="50" >8</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-9" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="9">
            <label for="{{card.clipHtmlId}}-9"  data-position="bottom" data-delay="50" >9</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-10" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="10">
            <label for="{{card.clipHtmlId}}-10"  data-position="bottom" data-delay="50" >10</label>
        </p>
    </div><!-- col -->

    <div class="col s4">
        <p>
            <input id="{{card.clipHtmlId}}-11" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="11">
            <label for="{{card.clipHtmlId}}-11"  data-position="bottom" data-delay="50" >11</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-12" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="12">
            <label for="{{card.clipHtmlId}}-12"  data-position="bottom" data-delay="50" >12</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-13" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="13">
            <label for="{{card.clipHtmlId}}-13"  data-position="bottom" data-delay="50" >13</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-14" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="14">
            <label for="{{card.clipHtmlId}}-14"  data-position="bottom" data-delay="50" >14</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-15" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="15">
            <label for="{{card.clipHtmlId}}-15"  data-position="bottom" data-delay="50" >15</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-16" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="16">
            <label for="{{card.clipHtmlId}}-16"  data-position="bottom" data-delay="50" >16</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-17" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="17">
            <label for="{{card.clipHtmlId}}-17"  data-position="bottom" data-delay="50" >17</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-18" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="18">
            <label for="{{card.clipHtmlId}}-18"  data-position="bottom" data-delay="50" >18</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-19" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="19">
            <label for="{{card.clipHtmlId}}-19"  data-position="bottom" data-delay="50" >19</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-20" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="20">
            <label for="{{card.clipHtmlId}}-20"  data-position="bottom" data-delay="50" >20</label>
        </p>
    </div><!-- col -->

    <div class="col s4">
        <p>
            <input id="{{card.clipHtmlId}}-21" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="21">
            <label for="{{card.clipHtmlId}}-21"  data-position="bottom" data-delay="50" >21</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-22" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="22">
            <label for="{{card.clipHtmlId}}-22"  data-position="bottom" data-delay="50" >22</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-23" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="23">
            <label for="{{card.clipHtmlId}}-23"  data-position="bottom" data-delay="50" >23</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-24" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="24">
            <label for="{{card.clipHtmlId}}-24"  data-position="bottom" data-delay="50" >24</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-25" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="25">
            <label for="{{card.clipHtmlId}}-25"  data-position="bottom" data-delay="50" >25</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-26" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="26">
            <label for="{{card.clipHtmlId}}-26"  data-position="bottom" data-delay="50" >26</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-27" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="27">
            <label for="{{card.clipHtmlId}}-27"  data-position="bottom" data-delay="50" >27</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-28" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="28">
            <label for="{{card.clipHtmlId}}-28"  data-position="bottom" data-delay="50" >28</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-29" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="29">
            <label for="{{card.clipHtmlId}}-29"  data-position="bottom" data-delay="50" >29</label>
        </p>
        <p>
            <input id="{{card.clipHtmlId}}-30" name="{{card.clipHtmlName}}" type="checkbox" class="with-gap" ng-focus="cardCtrl.showHelp(); cardCtrl.setActive();" ng-blur="cardCtrl.hideHelp(); cardCtrl.setInactive();" ng-disabled="cardCtrl.isUnclear" value="30">
            <label for="{{card.clipHtmlId}}-30"  data-position="bottom" data-delay="50" >30</label>
        </p>
    </div><!-- col -->
</div><!-- row -->
<div class="row">
    <div class="col s12 input-field">
        <input type="text" id="{{card.clipHtmlId}}-additional" name="{{card.clipHtmlName}}">
        <label for="{{card.clipHtmlId}}-additional">{{ "CLIPS.OPTIONS.ADDITIONAL_INPUT" | translate }}</label>
    </div>
</div>
