<div ng-controller="formsController as formsCtrl"  ng-init = "formsCtrl.init()" >
    <select-template></select-template>

    <div class="row fm-det-div">
        <div class="col s12 fm-det-head">
            <p class="fm-det">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.TITLE' | translate }}</p>
        </div>
    </div>
    <form name="pageForm" class="formPageForm" novalidate>
        <div class="row mg-btm-0">
            <div class="col s4 offset-s1">
                <label for="txtUnqieFormName" class="blkColor">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.FORM_NAME.LABEL' | translate }}</label>
                <input id="txtUnqieFormName" type="text" name="txtUnqieFormName" class="validate" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.FORM_NAME.PLACEHOLDER' | translate }}" ng-model="formsCtrl.vm.uniqueFormName" required >
                <span ng-show="pageForm.txtUnqieFormName.$dirty && pageForm.txtUnqieFormName.$error.required" class="redError">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.FORM_NAME.MANDATORY' | translate }}</span>
            </div>
            <div class="col s4 offset-s2 txt-right">
                <select class="langSelectForm" name="lang_select">
                    <option value="" selected>{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.LANGUAGE.LABEL' | translate }}</option>
                    <option value="EN">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.LANGUAGE.OPTIONS.ENGLISH' | translate }}</option>
                    <option value="CH">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.LANGUAGE.OPTIONS.CHINESE' | translate }}</option>
                </select>
                <span ng-show="pageForm.lang_select.$dirty && pageForm.lang_select.$error.required" class="redError">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.FIELD_REQUIRED' | translate }}</span>
            </div>
        </div>
        <div class="row mg-btm-0">
            <div class="col s4 offset-s1">
                <label for="cat_select" class="blkColor">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.FORM_CATEGORY.LABEL' | translate }}</label>
                <select id ="cat_select" class="langSelectForm" name="cat_select" ng-model="formsCtrl.vm.formCategory"
                        ng-options="c.categoryId as c.categoryName for c in formsCtrl.vm.formCategoryList"  >
                    <option value="" selected>{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.FORM_CATEGORY.OPTIONS.DEFAULT' | translate }}</option>
                </select>
                <span ng-show="pageForm.cat_select.$dirty && pageForm.cat_select.$error.required" class="redError">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.FIELD_REQUIRED' | translate }}</span>
            </div>
            <div class="col s2 offset-s2 txt-left">
                {{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.BARCODE.LABEL' | translate }}
            </div>
            <div class="col s1">
                <input name="radBarCodeGrp" type="radio"  id="radBarCodeYes" ng-model="formsCtrl.vm.isBarcodePage" value="Y" required/>
                <label for="radBarCodeYes">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.YES' | translate }}</label>
            </div>
            <div class="col s1">
                <input name="radBarCodeGrp" type="radio" id="radBarCodeNo" ng-model="formsCtrl.vm.isBarcodePage" value="N" required/>
                <label for="radBarCodeNo">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.NO' | translate }}</label>
            </div>
            <div class="col s4 offset-s7">
                <p class="fm-note1">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.BARCODE.INSTRUCTIONS' | translate }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 txt-center">
                <button class="waves-effect waves-light btn fm-btn" ng-disabled="pageForm.$invalid" ng-click="formsCtrl.validateTemplateName()">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.SUBMIT' | translate }}</button>
            </div>
        </div>
    </form>

    <!--div ng-show="showFurther"-->
    <div ng-show="formsCtrl.vm.isShowUpload">
        <div  class="row mg-btm-0">
            <div class="col s10 offset-s1">
                <div ngf-drop ngf-select ng-model="formsCtrl.vm.uploadFiles" class="form-img-drop-box"
                     ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                     accept="image/*"    ngf-pattern="'image/*'">
                    <p class="fm-drop-txt">
                        {{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.IMAGE_UPLOAD.INSTRUCTIONS' | translate }}
                    </p>
                    <ol class="fm-drop-txt-li">
                        <li>{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.IMAGE_UPLOAD.STEPS.1' | translate }}</li>
                        <li>{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.IMAGE_UPLOAD.STEPS.2' | translate }}</li>
                        <li>{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.IMAGE_UPLOAD.STEPS.3' | translate }}</li>
                    </ol>

                    <ul class="fm-drop-name-li">
                        <li ng-repeat="f in formsCtrl.vm.uploadFiles">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                    </ul>
                </div>
                <div ngf-no-file-drop>{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.IMAGE_UPLOAD.NOT_SUPPORTED' | translate }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="file-field input-field">
                    <div class="btn fm-btn">
                        <span>{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.IMAGE_UPLOAD.CHOOSE_IMAGES' | translate }}</span>
                        <input type="file" ngf-select ng-model="formsCtrl.vm.uploadFiles" name="file" multiple  accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate"  type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1 fm-reorder-head">
                <div>
                    <div ng-repeat="file in formsCtrl.vm.uploadFiles" class="fm-reorder-img-div">
                        <p class="fm-reorder-txt">{{file.name}} {{file.$error}} {{file.$errorParam}}</p>
                    <span class="fm-reorder-del"  ng-click="formsCtrl.vm.uploadFiles.splice($index,1)">
                        <i class="fa fa-times" aria-hidden="true"></i></span>
                        <img ng-show="myForm.file.$valid" ngf-thumbnail="file" class="form-img-thumb">
                        <input type="text" placeholder="Page No." ng-model="file.pageNo" ng-change="formsCtrl.pageNoChanged()"
                               ng-model-options="{updateOn: 'blur'}" class="fm-reorder-order-inp"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s5 offset-s1 txt-right">
                <a class="waves-effect waves-light btn fm-btn" ng-click="formsCtrl.upload(formsCtrl.vm.uploadFiles)">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.IMAGE_UPLOAD.UPLOAD' | translate }}</a>
            </div>
            <div class="col s5 txt-center">
                <button class="waves-effect waves-light btn fm-btn" ng-disabled="!formsCtrl.vm.isFileUploaded"
                        ng-click="formsCtrl.registerForms()">{{ 'CUSTOMER.DASHBOARD.MAIN.FORM_DETAILS.IMAGE_UPLOAD.REGISTER_TEMPLATES' | translate }}</button>
            </div>
        </div>
    </div>
</div>