<div>
    <nav class="leftmenu">
             <p class="leftHead">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.SELECT_TEMPLATE' | translate }}<i class="fa fa-times-circle" aria-hidden="true"></i></p>
             <nav class="vertical">
              <ul class="selectFormcollapsibleOuter" data-collapsible="accordion">
                <li ng-repeat="category in formDetailsModel" ng-click="selectFormCtrl.collapsibleInner();">
                  <div class="collapsible-header firstList">{{category.categoryName}} <span ng-show='category.forms.length > 0'>+</span></div>
                  <div class="collapsible-body">
                      <ul class="selectFormcollapsibleInner" data-collapsible="accordion">
                        <li ng-repeat="form in category.forms">
                          <div class="collapsible-header secondList">{{form.formName}} <span ng-show='form.pages.length > 0'>+</span></div>
                          <div class="collapsible-body">
                            <ul>
                                <li ng-repeat="page in form.pages">
                                  <a class="tmp-img thirdList" ng-click="selectFormCtrl.formSelected(page)">{{ page.pageName }}</a>
                                </li>
                            </ul>                              
                          </div>
                        </li>
                      </ul>       
                  </div>
                </li>
              </ul>       
        </nav>
    </nav>
</div>
