<div ng-controller='templatesController as templatesCtrl' ng-init="templatesCtrl.init()">
    <div class="leftMenuHam">
      <p><i class="fa fa-bars" aria-hidden="true"></i><span style="position: relative; left: 10px;">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.STEPS.1.TITLE' | translate }}</span><br><span style="font-size: 12px; position: relative; top: -5px;">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.STEPS.1.LABEL' | translate }}</span></p>
    </div>
    <div class="rightMenuHam">
      <p><span style="position: relative; right: 10px;">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.STEPS.3.TITLE' | translate }}</span><i class="fa fa-bars" aria-hidden="true"></i><br><span style="font-size: 12px; position: relative; top: -5px;">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.STEPS.3.LABEL' | translate }}</span> </p>
    </div>
    <select-template form-details-model="templatesCtrl.vm.templateList" form-selected="templatesCtrl.formSelected()"></select-template>
    <add-zone ng-model="templatesCtrl.vm"></add-zone>
    <nav class="breadnav">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s7 offset-s3" style="border-left: 2px solid white; border-right: 2px solid white;">
                    <span style="float: left; margin-left: 30px; margin-top: -5px;">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.STEPS.2.TITLE' | translate }}</span>
                    <span style="position: relative; left: -64px; float: left; top: 12px;font-size: 12px;">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.STEPS.2.LABEL' | translate }}</span>
                    <div ng-show="!(templatesCtrl.vm.allowZoneMarking)"><a class="waves-effect waves-light btn">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.REMINDER' | translate }}</a></div>
                    <ul ng-show="templatesCtrl.vm.allowZoneMarking" style="position: relative; left: -30px;">
                        <li><a class="waves-effect waves-light btn tmpBtnBox tmpBtn tmpBtnModal tooltipped"
                               id="tmp-type-num"
                               ng-click="templatesCtrl.modalType('number');"
                               data-position="bottom" data-delay="50" data-tooltip="{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.BUTTONS.NUMBER.TOOLTIP' | translate }}">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.BUTTONS.NUMBER.LABEL' | translate }}</a></li>

                        <li><a class="waves-effect waves-light btn tmpBtnBox tmpBtn tmpBtnModal tooltipped"
                               id="tmp-type-txt"
                               ng-click="templatesCtrl.modalType('text');"
                               data-position="bottom" data-delay="50" data-tooltip="{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.BUTTONS.TEXT.TOOLTIP' | translate }}">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.BUTTONS.TEXT.LABEL' | translate }}</a></li>

                        <li><a class="waves-effect waves-light btn tmpBtnBox tmpBtn tmpBtnModal tooltipped"
                               id="tmp-type-mcq"
                               ng-click="templatesCtrl.modalType('mcq');"
                               data-position="bottom" data-delay="50" data-tooltip="{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.BUTTONS.MCQ.TOOLTIP' | translate }}"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                        </li>

                        <li><a class="waves-effect waves-light btn tmpBtnBox tmpBtn tmpBtnModal tooltipped"
                               id="tmp-type-dt"
                               ng-click="templatesCtrl.modalType('date');"
                               data-position="bottom" data-delay="50" data-tooltip="{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.BUTTONS.DATE.TOOLTIP' | translate }}"><i
                                class="fa fa-calendar" aria-hidden="true"></i> <i class="fa fa-clock-o" aria-hidden="true"></i></a></li>

                        <li><a class="waves-effect waves-light btn tmpBtnBox tmpBtn tmpBtnModal tooltipped" id="tmp-type-phone" ng-click="templatesCtrl.modalType('phone');"
                               data-position="bottom" data-delay="50" data-tooltip="{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.BUTTONS.PHONE.TOOLTIP' | translate }}" ng-click="ctrl.phoneAgree()"><i class="fa fa-phone" aria-hidden="true"></i></a>
                        </li>

                        <li><a class="waves-effect waves-light btn tmpBtnBox tmpBtn tmpBtnModal tooltipped" id="tmp-type-sns" ng-click="templatesCtrl.modalType('sns');"
                               data-position="bottom" data-delay="50" data-tooltip="{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.BUTTONS.SNS.TOOLTIP' | translate }}" ng-click="ctrl.snsAgree()">{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.BUTTONS.SNS.LABEL' | translate }}</a></li>
                    </ul>
                </div>
                <div class="col s1">
                    <a class="waves-effect waves-light btn tmpBtnDel mg-right-10 tooltipped" id="tmp-del-rec" data-position="bottom" data-delay="50" data-tooltip="Delete Zone" ng-click="templatesCtrl.clearFields(); templatesCtrl.refCanvas();"><i class="fa fa-times" aria-hidden="true"></i></a>
                    <a class="waves-effect waves-light btn tmpBtnDel tooltipped" id="tmp-tabledel-rec" data-position="bottom" data-delay="50" data-tooltip="{{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.BUTTONS.NUMBER.TOOLTIP' | translate }}"><i class="fa fa-table" aria-hidden="true"></i> <i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="row tmp-head-row">
        <div class="backTextCanvas">
          <div><h3><b>Step 1</b></h3><h5>Select Template</h5></div>
          <div><h5><i class="fa fa-arrow-right" aria-hidden="true"></i></h5></div>
          <div><h3><b>Step 2</b></h3><h5>Select Field Type</h5></div>
          <div><h5><i class="fa fa-arrow-right" aria-hidden="true"></i></h5></div>
          <div><h3><b>Step 3</b></h3><h5>Add Zone</h5></div>
        </div>
        <div class="col s12 tmp-canvas-head" ng-show="templatesCtrl.vm.canvasImagePath">
            <div class="tmp-no-img-heading" id="container2">
                <canvas ng-show="templatesCtrl.vm.canvasImagePath" ng-style="{'background':'url('+templatesCtrl.vm.canvasImagePath+')'}" id="canvas2"
                        width="{{templatesCtrl.vm.template.RES_IMAGE_WIDTH || 7000}}" height="{{templatesCtrl.vm.template.RES_IMAGE_HEIGHT || 8000}}" class="mainCanvas" ng-dblclick="templatesCtrl.vm.allowFieldInput = true">
                    {{ 'CUSTOMER.DASHBOARD.MAIN.TEMPLATES.NO_HTML5' | translate }}
                </canvas>
            </div>
        </div>
    </div>
    <div id="canvasModal" class="modal">
      <div class="modal-content">
        <canvas id="canvasDup">
            Your browser does not support HTML5 Canvas. Please upgrade your browser.
        </canvas>
      </div>
    </div>
    <div ng-include="'app/modules/components/cliptype/clip.view.html'"></div>
</div>




