<div ng-controller="exceptionController as expCtrl" class="lg-loginController" ng-init="expCtrl.init()">

<div class="firstExp" style="display: none;">
  <div class="row">
    <div class="col s8 offset-s2 txt-center">
        <table class="bordered highlight striped dBTable">
          <thead>
            <tr>
                <th data-field="id">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.TABLE.HEADERS.SEQ_NO' | translate }}</th>
                <th data-field="name">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.TABLE.HEADERS.EXCEPTION_TYPE' | translate }}</th>
                <th data-field="price">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.TABLE.HEADERS.SUBMITTED_ON' | translate }}</th>
                <th data-field="price">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.TABLE.HEADERS.STATUS' | translate }}</th>
                <th data-field="price">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.TABLE.HEADERS.ACTION' | translate }}</th>
                <th data-field="price">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.TABLE.HEADERS.AGE' | translate }}</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
            <tr>
              <td>0001</td>
              <td><a>Error in Template</a></td>
              <td>04/01/2016, 08:00</td>
              <td>open</td>
              <td>NA</td>
              <td>48</td>
            </tr>
          </tbody>
        </table>
        <div class="well">
            <paging
                class="small"
                page="1" 
                page-size="2" 
                total="expCtrl.total"
                show-prev-next="true"
                show-first-last="true"
                paging-action="expCtrl.DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
            </paging>   
        </div>
    </div>
  </div>
</div>

<div class="secondExp">
  <div class="row dbRow1 mg-btm-0">
    <div class="col s2 txt-center brdrRghtTop">
      <p class="headText">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.TABS.SELECTED_TEMPLATE' | translate }}</p>
    </div>
    <div class="col s5 txt-center brdrRghtTop">
      <p class="headText">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.TABS.TEMPLATE_LIST' | translate }}</p>
    </div>
    <div class="col s5 txt-center">
      <p class="headText">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.TABS.FIELD_ENTRIES' | translate }}</p>
    </div>
  </div>

  <div class="row mg-btm-0">
    <div class="col s2 txt-center exTempListDiv">
      <img class="responsive-img z-depth-1 qt-thumb-img hoverable"  src="assets/img/forma.jpg" alt="">
      <img class="responsive-img z-depth-1 qt-thumb-img hoverable"  src="assets/img/formb.jpg" alt="">
      <img class="responsive-img z-depth-1 qt-thumb-img hoverable"  src="assets/img/formc.jpg" alt="">
      <img class="responsive-img z-depth-1 qt-thumb-img hoverable"  src="assets/img/formd.jpg" alt="">
      <img class="responsive-img z-depth-1 qt-thumb-img hoverable"  src="assets/img/forme.jpg" alt="">
    </div>
    <div class="col s10">
      <div class="row mg-btm-0">
        <div class="col s6 txt-center exImgDiv">
          <img class="responsive-img z-depth-1 hoverable exImg" src="assets/img/forma.jpg">    
        </div>
        <div class="col s6 txt-center exImgDiv">
          <img class="responsive-img z-depth-1 hoverable exImg" src="assets/img/formb.jpg">    
        </div>      
      </div>
      <div class="row mg-btm-0 mg-top-10">
        <div class="col s12 txt-center">
            <button class="btn waves-effect waves-teal exBtn" type="submit">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.BUTTONS.NEW' | translate }}
                <i class="fa fa-file" aria-hidden="true"></i>
            </button>
            <button class="btn waves-effect waves-teal exBtn" type="submit">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.BUTTONS.MATCH' | translate }}
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <button class="btn waves-effect waves-red red lighten-1 exBtn" type="submit">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.BUTTONS.DISCARD' | translate }}
                <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
            <button class="btn waves-effect exBtn" type="submit">{{ 'CUSTOMER.DASHBOARD.MAIN.EXCEPTIONS.BUTTONS.NEXT' | translate }}
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
      </div>
    </div>

  </div>
</div>

</div>