<div class="main container" ng-controller="redeemController" ng-init="initialize()">

    <div class="card-panel">
        <div class="row">
            <div class="input-field col s12 ">
                <p class="redeem-p">{{ 'REDEEM.INSTRUCTIONS' | translate }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                {{ 'REDEEM.OUTSTANDING_POINTS' | translate }}
            </div>

            <div class="col s6">
                {{availableEarngoPoints}}
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                {{ 'REDEEM.BALANCE_POINTS' | translate }}
            </div>

            <div class="col s6">
                {{balancePoints}}
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input placeholder="0" id="txtRedeemPoint" type="text" class="validate" ng-model="redeemPoints">
                <label class="active" for="txtRedeemPoint">{{ 'REDEEM.ENTER_POINTS' | translate }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 rdm-btn-div">
                <a class="btn waves-effect waves-light" ng-click="profileVerifyAction()">
                    <i class="material-icons right">send</i>{{ 'REDEEM.PROFILE_VERIFY' | translate }}</a>
            </div>

            <div class="col s6 m3 rdm-btn-div rdm-btn-div-l">
                <button class="btn waves-effect waves-light rdm-sm-btn" type="button" ng-disabled="isRedeemBttnActivate==false" ng-click="redeemPointsAction()">
                    {{ 'REDEEM.REDEEM' | translate }}
                </button>
            </div>

            <div class="col s6 m3 rdm-btn-div rdm-btn-div-r">
                <button class="btn waves-effect waves-light rdm-sm-btn red lighten-2" type="button"  ng-click="cancelAction()">
                    {{ 'REDEEM.CANCEL' | translate }}
                </button>
            </div>

        </div>

    </div>

</div>



