<div class="earngo-de-container main" ng-controller="urgentEntryController as ctrl" ng-init="ctrl.loadUrgentDataWithController();">

    <div class="container">
        <div id="divClipEntryOne" ng-show="ctrl.clipDataVm.showDivClipEntryOne"    disable-all="ctrl.clipDataVm.disableDivClipEntryOne">

            <div ng-if="ctrl.clipDataVm.divOne.loading" class="no-clips-message card-panel blue-grey white-text">{{ 'DATA_ENTRY.LOADING_CLIPS' | translate }}</div> 

            <div ng-if="!ctrl.clipDataVm.clipsSetOne || ctrl.clipDataVm.clipsSetOne.length === 0" class="no-clips-message card-panel blue-grey white-text">
                <span>{{ 'DATA_ENTRY.NO_CLIPS_AVAILABLE' | translate }}</span>
            </div>

            <egcard ng-repeat="card in ctrl.clipDataVm.clipsSetOne" ng-hide="ctrl.clipDataVm.divOne.loading" class="card hoverable" ng-init="cardCtrl.index = $index" ng-class="{active: cardCtrl.isActive}" ng-keydown="cardCtrl.onKeyPress($event)"></egcard>

            <div class="fixed-action-btn">
                <button class="submit waves-effect waves-light btn btn-large" ng-disabled="ctrl.clipDataVm.clipsSetOne.length === 0 || ctrl.clipDataVm.divOne.loading" ng-click="ctrl.dataSubmit_One()">{{ 'SUBMIT' | translate }}</button>
            </div>
        </div>

        <div id="divClipEntryTwo" ng-show="ctrl.clipDataVm.showDivClipEntryTwo" disable-all="ctrl.clipDataVm.disableDivClipEntryTwo">
            <div ng-if="ctrl.clipDataVm.divTwo.loading" class="no-clips-message card-panel blue-grey white-text">{{ 'DATA_ENTRY.LOADING_CLIPS' | translate }}</div>

            <div ng-if="!ctrl.clipDataVm.clipsSetTwo || ctrl.clipDataVm.clipsSetTwo.length === 0" class="no-clips-message card-panel blue-grey white-text">
                <span>{{ 'DATA_ENTRY.NO_CLIPS_AVAILABLE' | translate }}</span>
            </div>

            <egcard ng-repeat="card in ctrl.clipDataVm.clipsSetTwo" ng-hide="ctrl.clipDataVm.divTwo.loading" class="card hoverable" ng-init="cardCtrl.index = $index" ng-class="{active: cardCtrl.isActive}" ng-keydown="cardCtrl.onKeyPress($event)"></egcard>

            <div class="fixed-action-btn">
                <button class="submit waves-effect waves-light btn btn-large" ng-disabled="ctrl.clipDataVm.clipsSetTwo.length === 0 || ctrl.clipDataVm.divTwo.loading" ng-click="ctrl.dataSubmit_Two()">{{ 'SUBMIT' | translate }}</button>
            </div>
        </div>
    </div>
</div>
