<ul class="languages">
    <div class="input-field">
        <select ng-options="language.title for language in langCtrl.languages" ng-model="langCtrl.selectedLanguage" ng-change="langCtrl.changeLanguage(langCtrl.selectedLanguage)" tabindex="-1" class="browser-default">
            <!-- <option value="" disabled selected>Language</option> -->
        </select>
    </div>
</ul>