<div class="earngo-de-container main" ng-controller="checkerLargeEntryController as ctrl" ng-init="ctrl.loadDataWithController()">

    <div class="container">
        <div id="divClipEntryOne"  ng-show="ctrl.clipDataVm.showDivClipEntryOne"    disable-all="ctrl.clipDataVm.disableDivClipEntryOne">
            <div ng-if="!ctrl.clipDataVm.clipsSetOne || ctrl.clipDataVm.clipsSetOne.length === 0" class="no-clips-message card-panel blue-grey white-text">
                <span>{{ 'DATA_ENTRY.NO_CLIPS_AVAILABLE' | translate }}</span>
            </div>

            <egcard ng-repeat="card in ctrl.clipDataVm.clipsSetOne" class="card hoverable" ng-init="cardCtrl.index = $index"
                    ng-class="{active: cardCtrl.isActive}" ng-keydown="cardCtrl.onKeyPress($event)"></egcard>

            <div class="fixed-action-btn">
                <button class="submit waves-effect waves-light btn btn-large"
                        ng-disabled="ctrl.clipDataVm.clipsSetOne.length === 0" ng-click="ctrl.dataSubmit_One()">{{ 'SUBMIT' |
                    translate }}
                </button>
            </div>
        </div>

        <div id="divClipEntryTwo" ng-show="ctrl.clipDataVm.showDivClipEntryTwo" disable-all="ctrl.clipDataVm.disableDivClipEntryTwo">
            <div ng-if="!ctrl.clipDataVm.clipsSetTwo || ctrl.clipDataVm.clipsSetTwo.length === 0" class="no-clips-message card-panel blue-grey white-text">
                <span>{{ 'DATA_ENTRY.NO_CLIPS_AVAILABLE' | translate }}</span>
            </div>

            <egcard ng-repeat="card in ctrl.clipDataVm.clipsSetTwo" class="card hoverable" ng-init="cardCtrl.index = $index"
                    ng-class="{active: cardCtrl.isActive}" ng-keydown="cardCtrl.onKeyPress($event)"></egcard>

            <div class="fixed-action-btn">
                <button class="submit waves-effect waves-light btn btn-large"
                        ng-disabled="ctrl.clipDataVm.clipsSetTwo.length === 0" ng-click="ctrl.dataSubmit_Two()">{{ 'SUBMIT' |
                    translate }}
                </button>
            </div>
        </div>

    </div>
</div>