<div class="earngo-de-container main" ng-controller="largeEntryController as ctrl" ng-init="ctrl.initialize()">

    <div class="container">

        <div id="divLargeEntryOne" ng-show="ctrl.largeClipDataVm.showDivClipEntryOne"
             disable-all="ctrl.clipDataVm.disableDivClipEntryOne">
            <!--div ng-if="loadingDivOneClips" class="no-clips-message card-panel blue-grey white-text">{{ 'DATA_ENTRY.LOADING_CLIPS' | translate }}</div> -->
            <div ng-if="!ctrl.largeClipDataVm.clipsSetOne || ctrl.largeClipDataVm.clipsSetOne.length === 0"
                 class="no-clips-message card-panel blue-grey white-text">
                <span>{{ 'DATA_ENTRY.NO_CLIPS_AVAILABLE' | translate }}</span>
            </div>

            <egcard ng-repeat="card in ctrl.largeClipDataVm.clipsSetOne" class="card hoverable"
                    ng-init="cardCtrl.index = $index" ng-class="{active: cardCtrl.isActive}"
                    ng-keydown="cardCtrl.onKeyPress($event)"></egcard>

            <div class="fixed-action-btn">
                <button class="submit waves-effect waves-light btn btn-large"
                        ng-disabled="ctrl.largeClipDataVm.clipsSetOne.length === 0"
                        ng-click="ctrl.largeDataSubmit_One()">{{ 'SUBMIT' | translate }}
                </button>
            </div>
        </div>

        <div id="divLargeEntryTwo" ng-show="ctrl.largeClipDataVm.showDivClipEntryTwo"
             disable-all="ctrl.largeClipDataVm.disableDivClipEntryTwo">

            <!--div ng-if="loadingDivTwoClips" class="no-clips-message card-panel blue-grey white-text">{{ 'DATA_ENTRY.LOADING_CLIPS' | translate }}</div -->
            <div ng-if="!ctrl.largeClipDataVm.clipsSetTwo || ctrl.largeClipDataVm.clipsSetTwo.length === 0"
                 class="no-clips-message card-panel blue-grey white-text">
                <span>{{ 'DATA_ENTRY.NO_CLIPS_AVAILABLE' | translate }}</span>
            </div>

            <egcard ng-repeat="card in ctrl.largeClipDataVm.clipsSetTwo" class="card hoverable"
                    ng-init="cardCtrl.index = $index" ng-class="{active: cardCtrl.isActive}"
                    ng-keydown="cardCtrl.onKeyPress($event)"></egcard>

            <div class="fixed-action-btn">
                <button class="submit waves-effect waves-light btn btn-large"
                        ng-disabled="ctrl.largeClipDataVm.clipsSetTwo.length === 0"
                        ng-click="ctrl.largeDataSubmit_Two()">{{ 'SUBMIT' | translate }}
                </button>
            </div>
        </div>

    </div>
</div>