<div class="navbar-fixed hide-on-med-and-down">
    <ul id="dropdown1" class="dropdown-content nav_template_dropdown">
      <li><a ui-sref="main.templateAdd">{{ 'CUSTOMER.DASHBOARD.NAVIGATION.ADD_TEMPLATE.LABEL' | translate }}</a></li>
      <li><a ui-sref="main.templateEdit">{{ 'CUSTOMER.DASHBOARD.NAVIGATION.EDIT_TEMPLATE.LABEL' | translate }}</a></li>
    </ul>
    <nav class="z-depth-2 main-nav">
        <div class="nav-wrapper">
          <a href="#" class="nav-toggle" ng-click="navCtrl.expandSideNav($event)"><i class="fa fa-bars"></i></a>
          <a href="#" class="brand-logo">
            <img src="assets/img/flat-logo.png" height="35" width="175" alt="Logo" class="nav-logo">
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li ng-repeat="item in navCtrl.navItems"><a ui-sref="{{item.state}}" class="nav-sliding-middle-out">{{ item.title | translate }}</a></li>
            <li class="nav-logout-li">
                <a ui-sref="logout">{{ 'CUSTOMER.DASHBOARD.NAVIGATION.LOGOUT.LABEL' | translate }}</a>
            </li>
          </ul>
        </div>
    </nav>
</div>
