<div class="navbar-fixed">
    <nav>
        <!-- Small screens logo -->
        <a href="#home" class="brand-logo center hide-on-large-only" tabindex="-1"><img src="assets/img/flat-logo.png" height="35" width="175" alt="Logo" class="nav-logo"></a>
        <ul id="slide-out" class="side-nav">
            <!-- Home logo -->
            <li class="homeLink"><a id="liHome" href="#home" class="side-nav-logo" ng-click="navCtrl.hideSideNav();" tabindex="-1"><img src="assets/img/flat-logo.png" height="35" width="175" alt="Logo" class="nav-logo"></a></li>

            <!-- Profile -->
            <li class="user_label"><label>{{navCtrl.userName}}</label> <div class="chip tooltipped" data-position="right" data-delay="50" data-tooltip="{{ 'NAVIGATION.TOOLTIPS.USER_POINTS' | translate}}">{{navCtrl.userPoints}}</div></li>

            <li ng-repeat="item in navCtrl.navItems" id="{{item.itemId}}"
                ng-class="navCtrl.getActiveMenuItemClass(item.URL)" >
                <a id="{{item.linkId}}" href="{{item.HREF}}" class="{{item.class}} tooltipped"
                   ng-click="navCtrl.handleSignOutItem(item.STATE);
                    navCtrl.handleHelpItem(item.STATE, $event);
                    navCtrl.handleTourItem(item.STATE, $event);
                    navCtrl.hideSideNav();"
                   tabindex="-1" data-position="right" data-delay="50"
                   data-tooltip="{{ item.TOOLTIP | translate}}">{{item.TITLE | translate}}
                    <div class="chip" ng-if="navCtrl.taskCounts[item.STATE] >= 0">{{navCtrl.taskCounts[item.STATE]}}</div></a>
            </li>

            <li class="tooltipped" data-position="right" data-delay="50" data-tooltip="{{ 'NAVIGATION.TOOLTIPS.REFRESH_TIME' | translate}}"><span class="refresh-time">{{ 'NAVIGATION.LAST_UPDATED_LABEL' | translate }}: {{navCtrl.taskCounts.refreshTime}}</span></li>
            <li><button class="taskcount-refresh waves-effect waves-light btn tooltipped" ng-click="navCtrl.refreshTaskCount()" data-position="right" data-delay="50" data-tooltip="{{ 'NAVIGATION.TOOLTIPS.REFRESH_BUTTON' | translate}}">{{ 'NAVIGATION.REFRESH_BUTTON_TEXT' | translate }}</button></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>
</div><!-- navbar-fixed -->