<ul>
    <li class="rotate-clockwise tooltipped" ng-click="cardCtrl.rotateAntiClockwise()" data-position="bottom" data-delay="50" data-tooltip="{{ 'CLIPS.TOOLTIPS.ROTATE_CLOCKWISE' | translate}}"><i class="material-icons">rotate_left</i></li>
    <li class="rotate-counterclockwise tooltipped" ng-click="cardCtrl.rotateClockwise()" data-position="bottom" data-delay="50" data-tooltip="{{ 'CLIPS.TOOLTIPS.ROTATE_ANTICLOCKWISE' | translate}}"><i class="material-icons">rotate_right</i></li>
</ul>