@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/material-design-icons/Material-Design-Icons.eot);
    src: local('Material Icons'), local('Material Design Icons'), url(../font/material-design-icons/Material-Design-Icons.woff2) format('woff2'), url(../font/material-design-icons/Material-Design-Icons.woff) format('woff'), url(../font/material-design-icons/Material-Design-Icons.ttf) format('truetype')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga'
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label,
[type="checkbox"]+label {
    padding-left: 24px
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
    opacity: 0;
    visibility: visible
}

[type="checkbox"]:not(:checked):focus+label,
[type="checkbox"]:checked:focus+label,
[type="radio"]:not(:checked):focus+label,
[type="radio"]:checked:focus+label {
    border-bottom: 2px solid #035c75;
    color: #035c75
}

[type="checkbox"]:not(:checked):focus+label:before,
[type="radio"]:not(:checked):focus+label:before {
    border: 2px solid #035c75
}

html,
body {
    height: 100%;
    background-color: #f9f9f9;
}

nav {
    background-color: #035c75;
}

nav,
nav a.button-collapse,
nav a.button-collapse i {
    height: 40px;
    line-height: 40px;
}

nav a.button-collapse {
    width: 40px;
    text-align: center;
}

nav a.button-collapse i {
    font-size: 2rem;
}

@media screen and (min-width:992px) {
    .sidebar {
        position: fixed;
        z-index: 999;
    }

    .sidebar .navbar-fixed,
    .sidebar nav {
        height: 0
    }
}

.nav-toggle,
.nav-toggle .fa-bars {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.nav-toggle {
    -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

.nav-toggle:hover {
    background-color: white;
    color: #035C75;
}

#slide-out {
    background-color: #035c75
}

#slide-out li {
    position: relative
}

#slide-out li:hover {
    color: #035c75
}

#slide-out li:hover .chip {
    background-color: #035c75;
    color: #fff
}

#slide-out li .chip {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

#slide-out li a {
    position: relative;
    color: #fff
}

#slide-out li a:hover {
    color: #035c75
}

#slide-out li.active a {
    color: #035c75
}

#slide-out li.active a .chip {
    background-color: #035c75;
    color: #fff
}

#slide-out li .refresh-time {
    padding: 0 15px
}

#slide-out li .taskcount-refresh {
    width: 100%
}

nav ul a:hover {
    background-color: transparent
}

nav .brand-logo img {
    height: 41px; /*dimension of previous img used in BPO = 43px (w) by 41px (h)*/
}

.side-nav li.homeLink:hover,
.side-nav li.homeLink.active {
    background-color: transparent
}

.side-nav li.homeLink img {
    height: 41px; /*dimension of previous img used in BPO = 43px (w) by 41px (h)*/
}

#slide-out li.homeLink a:hover {
    color: white
}

.timer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 1000
}

.glow {
    -webkit-animation: glow .5s infinite;
    -moz-animation: glow .5s infinite;
    -o-animation: glow .5s infinite;
    animation: glow .5s infinite
}

@-webkit-keyframes glow {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes glow {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes glow {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes glow {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

#timeout ul li {
    list-style-type: disc;
    margin-left: 24px
}

#timeout .btn {
    background-color: #035c75
}

.language-switcher .languages {
    position: fixed;
    top: -2px;
    right: 10px;
    margin: 0;
    z-index: 1000;
}

@media screen and (min-width:993px) {
.language-switcher .languages {
    top: 50px;
}
}

.language-switcher-customer .languages {
    top: 42px;
}

.language-switcher .languages .input-field {
    margin-top: 0
}

.card {
    display: block
}

.card:first-child {
    margin-top: 0
}

.card.active {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(28, 201, 249, 0.2), 0 6px 20px 0 rgba(28, 201, 249, 0.19)
}

.card .card-image {
    background-color: #f3f3f3
}

.card .card-image .row:first-child {
    margin-bottom: 0
}

.card .card-image img {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    margin-top: 20px;
    transition: transform .3s
}

.card .card-image img.card-image-vertical {
    padding-top: 0
}

.card .card-image img.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.card .card-image img.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.card .card-image img.rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.card .card-image img:focus,
.card .card-image img:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2)
}

.card .card-image img:focus.rotate-90,
.card .card-image img:hover.rotate-90 {
    -webkit-transform: scale(2) rotate(90deg);
    -moz-transform: scale(2) rotate(90deg);
    -ms-transform: scale(2) rotate(90deg);
    -o-transform: scale(2) rotate(90deg);
    transform: scale(2) rotate(90deg)
}

.card .card-image img:focus.rotate-180,
.card .card-image img:hover.rotate-180 {
    -webkit-transform: scale(2) rotate(180deg);
    -moz-transform: scale(2) rotate(180deg);
    -ms-transform: scale(2) rotate(180deg);
    -o-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg)
}

.card .card-image img:focus.rotate-270,
.card .card-image img:hover.rotate-270 {
    -webkit-transform: scale(2) rotate(270deg);
    -moz-transform: scale(2) rotate(270deg);
    -ms-transform: scale(2) rotate(270deg);
    -o-transform: scale(2) rotate(270deg);
    transform: scale(2) rotate(270deg)
}

.card .card-image .card-title {
    display: block;
    position: relative;
    padding-bottom: 0;
    color: #000
}

.card.card-checker .card-image img {
    margin-top: 20px;
    margin-bottom: 20px
}

.card .card-imagerotation {
    position: absolute;
    top: 0;
    right: 10px
}

.card .card-imagerotation li {
    position: relative;
    cursor: pointer;
    z-index: 1
}

.card .card-content {
    padding-top: 0;
    padding-left: 12px
}

.card .card-content-vertical {
    padding-top: 20px
}

.card .card-content .row:last-child {
    margin-bottom: 0
}

.card .card-content .input-field {
    margin-top: 0
}

.card .card-content textarea {
    padding-top: 1em
}

.card .card-content-verify {
    background-color: #f3f3f3
}

.card .card-content-verify .card-user-input {
    margin-top: 15px
}

.card .card-content-verify .card-user-value {
    margin-top: 17px
}

.card .card-content .card-input-margin-above {
    margin-top: 10px
}

.card.card-checker .card-content {
    padding-left: 20px
}

.card.card-checker .card-checker-row {
    margin-bottom: 0
}

.card.card-checker .card-checker-user-value {
    padding-top: 16px
}

.card .card-msg.card-msg-horizontal {
    margin-left: 10px;
    color: #035c75
}

.card .card-msg.card-msg-vertical {
    margin-left: 20px;
    margin-bottom: 0;
    color: #035c75
}

.card.card-checker .card-msg.card-msg-horizontal {
    margin-left: 0
}

.fixed-action-btn .submit {
    transition: background-color .3s
}

.fixed-action-btn .submit:hover,
.fixed-action-btn .submit:focus {
    background-color: #Ffe74C
}

#divClipEntryOne .fixed-action-btn .submit {
    background-color: #035c75
}

#divClipEntryOne .fixed-action-btn .submit:hover,
#divClipEntryOne .fixed-action-btn .submit:focus {
    background-color: #Ffe74C
}

.main {
    padding-top: 10px;
    padding-bottom: 100px
}

@media only screen and (min-width:993px) {
    .main {
        padding-bottom: 0;
        padding-left: 240px
    }
}

.login {
    background-color: #035c75
}

.login-title {
    font-size: 2em
}

.login-content {
    height: 100vh
}

.login-content .card-panel {
    width: 100%
}

.login-content button {
    background-color: #035c75
}

.login-content button:hover {
    background-color: #023543
}

.no-margin {
    margin: 0
}

a.side-nav-logo {
    font-size: 1.5em;
    font-weight: 500
}

.featherlight-next span,
.featherlight-previous span {
    display: inline-block;
    color: #000;
    opacity: .3
}

.featherlight-next span:hover,
.featherlight-previous span:hover {
    opacity: 1
}


/*bpoapp*/

.mF-thumb-img{
    max-width: 40% !important;
    margin-right: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.mF-heading{
    text-align: center;
    color:#035c75;
    line-height: 130%;
    margin: 0.82rem auto;
    border-left: 3px solid #035c75;
    width: 23%;
    font-style: italic;
    font-weight: 300;
}

.mF-small-heading{
    color: #035c75;
    width: 100%;
    font-size: 18px;  
    padding: 0;
    margin: 0 auto; 

}

.mF-img-opt{
    background: transparent;
    text-align: center;
    max-height: 555px;
    margin:0 !important;
    padding: 0 !important;
}

.mF-temp-cont{
    background: transparent;
    text-align: center;
    padding-bottom: 0px !important;
}

.mF-uImg-cont{
    background: transparent;
    text-align: center;
    padding-bottom: 0px !important;
}

.mF-active-thumb{
    border: 4px solid #035c75;
}

.mF-fix-img{
    max-width: 95% !important;
}

.mF-uID-img{
    max-width: 90% !important;
}

.mF-button-cont{
    text-align: center;
}

.mF-button-cont .btn{
    margin-right: 10px;
    color: white;
}



/* Scroll Bar change */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #035c75;  
    background-image: -webkit-linear-gradient(45deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}

#newTemplateModal .modal-footer button{
    margin-right: 10px;
}

.mF-label-txt{
    margin: 0 auto;
    padding: 3px;
    font-size: 14px;
    width: 60%;
    text-align: center;
    background: teal;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;   
}

.mg-btm0{
    margin-bottom: 0 !important;
}

.fe-input-opt{
    background: transparent;
    text-align: center;
    margin:0 !important;
    padding:20px !important;
    padding-top: 0px !important;
}


.fe-img-fill-cont{
    text-align: center;
    padding-top: 0px !important;
}

.fe-input-opt td{
    padding: 10px;
}

.fe-input-opt table.striped > tbody > tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.fe-inp-scroll{
    max-height: 570px;
    overflow-y: scroll; 
    border: 2px solid #035C75;
}

.fe-small-heading{
    color: #035c75;
    width: 30%;
    font-size: 18px;  
    padding: 0;
    margin: 0 auto; 
}

.fe-fix-img{
    max-width: 75% !important;
}

.zoom-out{
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2)
}


.backTextCanvas{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -60px;
	text-align: center;
	color: #cacaca;
}

.backTextCanvas div{
	display: inline-block;
	float: left;
}

.backTextCanvas i{
	line-height: 6rem;
	margin: 0 1.5rem;
}


/*All category*/

html,body,.indexView{
	height: 100%;
}

.mainCanvas{
	cursor: auto; 
	border:2px solid black; 
	background-repeat: no-repeat !important;
}
/*login*/


.lgErrorMsg{
	font-size: 13px;
	color: white;
	margin:0;
	border-radius: 2px;
}

.lg-imgCont{
	text-align: center;
}

.lg-loginController{
	width:100%;
	height: 100%;
}

.lg-loginBox{
	background: white;
	border-radius: 5px;
	margin-top: 25%;
}

/*NavBar*/

nav.main-nav{
	background: #035C75;
	height: 40px;
	line-height: 40px;
}

.nav-logo{
	margin-top: 2.5px;
}

nav.main-nav li, nav.main-nav li a{
	height: 40px;
}

nav.main-nav ul a:hover{
	background: transparent !important;
}

.nav-sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.nav-sliding-middle-out:after {
	content: '';
	display: block;
	position: relative;
	top:-2px;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.nav-sliding-middle-out:hover:after {
	width: 100%;
	background: white;
}

.nav-logout-li{
	background: white;
	color:#035C75;
}

.nav-logout-li a{
	color:#035C75;	
}

.fa-sort-desc{
	height: 40px !important;
	line-height: 40px !important;
	position: relative;
	top:-3px;
}

.nav_template_dropdown{
	width:175px !important;
	top:40px !important;
}

.navbar-fixed {
    height: 40px !important;
}

/* breadcrumbs */
nav.breadnav{
	height: 60px !important;
	line-height: 60px !important;
	box-shadow: none !important;
	position: fixed;
	z-index: 1;
}

nav.breadnav .nav-wrapper{
	padding-left: 18px !important;
}

nav.breadnav .mybreadcrumb{
	font-size: 12px !important;
	color: white !important;
}

.mybreadcrumb i{
	height: 40px !important;
	line-height: 40px !important;
}

/* Left Right Menu */

.leftmenu {
	width: 300px;
	height: 100%;
	position: fixed;
	overflow-y:auto; 
    padding-bottom: 30px;
	z-index: 2;
	background: #035C75;
	left: -330px;
	top:40px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}

.selectFormcollapsibleInner{
	background: #0a8caf;
	
}

.firstList{
	padding-left: 10px !important;
}

.secondList{
	padding-left: 30px !important;
}

.thirdList{
    background: #0d9bc1;
	padding-left: 50px !important;
	height: 40px !important;
	line-height: 40px !important;
	font-size: 13px;
}

.leftmenu .fa-caret-down{
	height: 40px !important;
}
.rightmenu {
	width: 300px;
	height: 100%;
	position: fixed;
	overflow-y:auto;
    padding-bottom: 30px; 
	z-index: 2;
	background: #035C75;
	right: -300px;
	top:40px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}

.leftmenu li{
	display: block;
	border-bottom: 1px solid #087B9A;
	color: white;
	width: 100%;
	text-align: left;
	margin:0 auto;
	float: none;
}
.leftHead i, .rightHead i {
	font-size: 18px;
}


.leftHead, .rightHead{
	margin:0;
	text-align: center;
	font-size: 14px;
	background: #087B9A;
	height: 60px;
	line-height: 60px;
}

.leftHead .fa-times-circle{
	margin-left: 20px;
	cursor: pointer;
}

.rightHead .fa-times-circle{
	margin-left: 20px;
	cursor: pointer;
}

.leftMenuHam{
	text-align: left;
	font-size: 14px;
	color: white;
	width: 12% !important;
	position: fixed;
	left: 20px;
	z-index: 2;
	top:55px;
}

.leftMenuHam p{

	margin:0;
	display: block;
    float: left;
	cursor: pointer;
}

.rightMenuHam p{
	margin:0;
	display: block;
    float: right;
	cursor: pointer;
}

.collapsible{
	border: 0;
	box-shadow: none;
}


.collapsible-header{
	background: transparent;
	    padding: 0;
    max-height: 60px;
    text-align: left;
    min-height: 40px;
    font-size: 13px;
}

.collapsible-header .fa-caret-down{
	float: right;
}

.collapsible-body{
	font-size: 12px;
}

.onboardingUl li{
	height: 50px;
	cursor: pointer;
}

.menuIcons{
	position: fixed;
	z-index: 2;
	top:60px;
	width:100%;
}


/* Templates */

.tmpBtn{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
    text-align: center;
    padding: 1px 10px;
    cursor: pointer;
}

.tmpBtn i {
	height: 30px !important;
	line-height: 30px !important;
	font-size: 14px !important;
}

.tmpBtnDel{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	padding: 1px 5px;
	cursor: pointer;
}

.tmpBtnDel i {
	height: 30px !important;
	line-height: 30px !important;
	font-size: 14px !important;
}

.breadnav{
    background: #087B9A !important;
}

.tmp-head-row{
	min-height: 500px;
	margin-bottom: 0;
	width:100%;
}

#container2{
    position: relative;
    color: #c1c1c1;
    text-align: center;
/*     height: 500px;
width:99%;
overflow: auto; */
}

.tmp-canvas-head{
    margin-top: 75px;
}

.rgt-template-inp{
	width: 80% !important;
	margin:10px auto !important;
	font-size: 13px !important;
	height: 1.5rem !important;
}


.rightMenuHam{
	width: 10% !important;
	text-align: right;
	font-size: 14px;
	color: white;
	position: fixed;
	right: 20px;
	z-index: 2;
	top:55px;
}

.rgt-template-select{
	width: 80%;
	margin: 10px auto;
}

.rgt-template-select .caret{
	top:-5px !important;
	color: white  !important;
	line-height: 30px;
}

.rgt-template-select input.select-dropdown{
	height: 1.5rem !important;
	font-size: 13px !important;
}

.rgt-template-mand-txt{
	width: 80%;
	margin:0 auto;
	font-size: 13px;
    height: 30px;
    line-height: 30px;
}


.rgt-template-txtarea{
	width:80% !important;
	line-height: 20px !important;
	min-height: 30px !important;
	margin: 10px auto !important;
	font-size: 13px !important;
	max-height: 115px !important;
    padding: 1rem 0 !important;
}

[type="radio"]:not(:checked) + label:before{
    border: 2px solid #dddddd !important;
}

.rgt-template-rad{
	color: white !important;
	height: 30px;
	line-height: 30px;
}

.rgt-template-rad label{
	color: #777 !important;
}

.rgt-template-save-div{
	height: 30px;
	line-height: 30px;
	margin:0;
	margin-top: 10px;
}

.mg-0{
	margin:0;
}

.mg-top-10{
	margin-top: 10px !important;
}

.mg-top-20{
	margin-top: 20px !important;
}
/* Form Page */

.fm-det-div{
	background: #087B9A;
}

.fm-det{
	text-align: center;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin:10px;
}

.mg-btm-0{
	margin-bottom: 0;
}

.txt-left{
	text-align: left;
}

.txt-right{
	text-align: right;
}

.txt-center{
	text-align: center;
}

#first_name,#form_category{
	margin-bottom: 10px;
}

#first_name, .no-of-img,#form_category{
	height: 2rem !important;
}

.fm-note1{
    margin: 0;
    color: #ABABAB;
    font-size: 12px;
    margin-top: -1rem;
}

.fm-btn{
	height: 30px !important;
	line-height: 30px !important;
	font-size: 14px !important;
}

.fm-hr{
	width:80%;
}

.formPageForm{
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    background: #ffffff;
    border-top: 4px solid #087B9A;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0px rgba(119, 119, 119, 0.34);
}

.blkColor{
	color: black !important;
}

.form-img-drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 98%;
	height: 270px;
	text-align: center;
	padding-top: 25px;
	margin: 10px;
}
.dragover {
	border: 5px dashed blue;
}
.form-img-thumb {
	width: 200px;
	max-height: 250px;
	float: none;
	position: relative;
	top: 7px;
	overflow: hidden;
    border: 1px solid #035C75;
}

.fm-drop-txt{
	width:50%;
	margin: 0 auto;
	text-align: left;
	padding: 0 30px;
}

.fm-drop-txt-li{
	width: 50%;
	margin:0 auto;
	text-align: left;
}

.fm-drop-name-li{
	height: 100px;
	overflow-y: auto; 
}
.fm-reorder-head{
	border: 2px solid #035C75;
}

.fm-reorder-img-div{
	width: 20%;
	float: left;
	margin:10px;
}

.fm-reorder-txt{
    height: 18px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    text-align: center;	
    width: 90%;
    float: left;
}

.fm-reorder-del{
	cursor: pointer;
}

.fm-reorder-order-inp{
	text-align: center;
	height: 2rem !important;
}

/*for modals*/


.modalmsgtxt{
	float: left;
	margin-right: 50px;
}
.tmp-type-rad{
	color: black !important;
}

.tmp-type-range{
	width:30% !important;
	margin:5px 10px !important;
}

/*.type-multiple-sub1, .type-other-sub1, .type-mulSelection-sub2{
	display: none;
}*/

.type-mulSelection-sub2, .type-singleSelection-sub2{
	margin-left: 30px;
}

.select-dropdown li{
	min-height: 30px !important;
	line-height: 1rem !important;

}

.select-dropdown span{
	font-size: 13px !important;
	padding: 5px 8px !important;
}

.dropdown-content{
	max-height: 450px !important;
}


nav .input-field label {
    line-height: 11px;
    top: -5px;
    left: 37px;
    font-size: 11px;
    color: black;
    background: white;
}

.seqdiv label, .subseqdiv label{
	line-height: 12px !important;
	color: #777777 !important;
    position: absolute;
    top: 0.5rem;
    left: 2.5rem;	
}

.addZoneForm{
	background: white;
}

.addZoneFormDown {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    color: #777777;
}

select{
	display: block !important;
}

select.rgt-template-select{
    background: #efefef;
    height: 30px;
    border: 0;
    font-size: 13px;
    border-bottom: 1px solid white;
}

select.langSelectForm{
    background: transparent;
    height: 40px;
    border: 0;
    font-size: 14px;
    border-bottom: 1px solid #035C75;;	
}

.editTable .headTr{
    background: #035C75;
color: white;	
}

.innerTableHead{
	display: none;
}

.tableBodyDiv{
    max-height: 435px;
    overflow-y: scroll;
    width: 101%;	
}

#editModal{
	max-height: 90% !important;
	width: 90% !important;
	top:5% !important;
}

.txtRemaining{
	display: block;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    text-align: left;
    margin-left: 30px;
    margin-top: -24px;
}

.seqdiv{
    margin-top: -5px;
    height: 40px;
    position: relative;
}

.subseqdiv{
	margin-top: 10px;
	height: 50px;
	position: relative;
}


.seqdiv label, .subseqdiv label{
	line-height: 12px !important;
	color: #777777 !important;
    position: absolute;
    top: 0;
    left: 2.5rem;	
}
.redError{
	font-size: 11px;
    color: red;
    position: relative;
    top: -12px;
}

.closeEditModal{
    font-size: 32px;
    position: absolute;
    right: 0px;
    top: 0;
    line-height: 32px;
    cursor: pointer;
}

.headTr th, .bodyTr td{
	padding: 10px 5px !important;
	border-radius: 0 !important;
}

.editModalinp{
	margin-bottom: 0 !important;
    height: 30px !important;
    line-height: 30px !important;
}

.errorMsgAddZone{
 	display: block;
    font-size: 11px;
    text-align: left;
    margin-left: 27px;
    height: 24px;
    line-height: 24px;
    margin-top: -15px;
    margin-bottom: 16px;
}



/*VERTICAL MENU*/
nav.vertical{
  background: transparent;
  border:0;
  box-shadow: none;
}
/* 
ALL UL
nav.vertical ul{
  list-style: none;
}
ALL LI
nav.vertical li{
  position:relative;
  line-height: 30px !important;
}
ALL A
nav.vertical a{
  display:block;
  color:#eee;
   height: 30px !important;
  line-height: 30px !important;
  text-decoration:none;
  padding:0px 15px;
  transition:0.5s;
}
ALL A HOVER
nav.vertical li:hover > a{
  background:#087B9A;
}

INNER UL HIDE
nav.vertical ul ul{
  background:rgba(0,0,0,0.1);
  padding-left:20px;
  transition: max-height 0.5s ease-out;
  max-height:0;
  overflow:hidden;
}
INNER UL SHOW
nav.vertical li:hover > ul{
  max-height:500px;
  transition: max-height 0.5s ease-in;
}
 */
/* Dashboard */

.dbBtnManage{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    float: right;
    margin: 15px;	
}

.dbBtnManage i{
	font-size: 12px; 
	margin-left: 5px;
}

.dbRow1{
	background: #087B9A; 
	color: white; 
	margin-bottom: 0;
}

.dbRow1 h5{
	font-weight: 200;
}

.brdrRghtTop{
	border-right: 2px solid white;
}

.padding-0{
	padding:0 !important;
}

.dbCardTitle{
	padding: 5px 10px; 
	font-weight: 300;
}

.dbCardContent{
	padding: 5px 10px; 
	font-size: 14px; 
	color: red;
}

.dbCardContent2{
    padding: 5px;
    font-size: 14px;
    color: #777777;
}

.dbCardSpan{
	float: right;
    padding: 0px 12px;
    border-radius: 15px;
    color: white;
    margin-left: 10px;	
}

.leftCardHead{
	position: absolute;
	height: 85%;
}

.medBtnRef{
	height: 30px;
    line-height: 30px;
    font-size: 14px;	
}

.medBtnRef i{
	font-size: 14px;
}

.dBTable{
	font-size: 14px;
	margin: 10px auto;
	width: 100%;

}

.dBTable td,th{
	padding: 5px !important;
	border-radius: 0 !important;
}

.dBTable thead{
    border-top: 5px solid #26A69A !important;
    background: #035C75 !important;
    color: white !important;
}

table.highlight > tbody > tr:hover {
    background-color: #B4D8D5 !important;
}

/* Quality Page */


/* Quality Page */


.qtBack{
    position: absolute;
    top: 3.6rem;
    left: 1rem;	
    cursor: pointer;
}

.qSearchTxt p{
	display: inline;
	margin-right: 10px;
}

.qSearchTxt input{
	width: 40%;
	height: 30px;
	line-height: 30px;
}

.qtTempImgDiv{
	min-height: 470px;
	max-height: 470px;
	overflow: auto;
}

.qtZoomBtns h4{
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

.qtTempListDiv{
	height: 500px;
	max-height: 500px;
	overflow: auto;
	overflow-x: none;
	background: #ECEFF1; 
	padding: 10px !important;
}

.qt-thumb-img-div{
	max-width: 40% !important;
	float: left;
	margin-right: 15px;
}

.qt-thumb-img{
	max-width: 100% !important;
	margin-bottom: 20px;
	cursor: pointer;
}

.qt-right-tb-div{
	max-height: 460px;
	overflow-y: auto; 
}

.qtEditInp{
	height: 24px !important;
    line-height: 24px !important;
    margin: 5px 0 !important;
    font-size: 14px !important;	
    width: 90% !important;	
}

/*Exception Page*/
.well{
	margin-top:30px;
}

.firstExp{
	margin-top: 30px; 
}

.headText{
    font-size: 18px;
    margin: 10px 0;
    line-height: 32px;
    font-weight: 300;
}

.headSmallText{
    font-size: 13px;
    margin: 10px 0;
    float: right;
    line-height: 32px;
    font-weight: 300;
}

.exTempListDiv{
	height: 520px;
	max-height: 520px;
	overflow: auto;
	overflow-x: none;
	background: #ECEFF1; 
	padding: 10px !important;
}

.exImgDiv{
	padding: 10px !important;
}

.exImg{
	max-width: 65% !important;
}

.exBtn{
    font-size: 14px !important;
    height: 32px !important;
    line-height: 32px !important;	
    margin-right: 10px !important;
}

.exBtn i{
    font-size: 14px !important;
    margin-left:  5px !important;
}

/*Profile Page*/

.prInpDiv{
	width: 50% !important;
	margin: 0 auto;
}

.prInpDiv p{
	float: left !important;
	height: 32px;
	line-height: 32px;
	margin:0 !important;
	width: 35%;
}

.prInp{
	width: 60% !important;
	height: 32px !important;
	line-height: 32px !important;
}

.pagination li.active {
    background-color: #035c75;
}

.blank-col-padding {
    padding :0.5rem;
    padding-bottam :0rem;
}

.card-row-hor-content {
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}
.card-row-hor-multi-content {
    margin-left: 0.75rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}