<div>
    <p class="mg-0 modalmsgtxt">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.NUMBER.INSTRUCTIONS' | translate }}</p><p>{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.SELECTED_FIELD' | translate }} <span>{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.NUMBER.FIELD' | translate }}</span></p>
    <div class="row">
        <div class="input-field col s12">
            <input placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.NUMBER.FROM' | translate }}" id="txtFrom" type="text" class="validate tmp-type-range"
                   ng-model="ctrl.numModel.from">
            <span> - - </span>
            <input placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.NUMBER.TO' | translate }}" id="txtTo" type="text" class="validate tmp-type-range"
                   ng-model="ctrl.numModel.to">
        </div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="ctrl.numAgree()">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.AGREE' | translate }}</a>
    </div>
</div>