<div><p class="mg-0 modalmsgtxt">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.TEXT.INSTRUCTIONS' | translate }}</p>
	<p>{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.SELECTED_FIELD' | translate }} 
		<span ng-if="ctrl.textModel.textType == ctrl.clipTypeEnum.SHORT_TEXT">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.TEXT.SHORT_TEXT' | translate }}</span>
		<span ng-if="ctrl.textModel.textType == ctrl.clipTypeEnum.LARGE_CLIP">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.TEXT.LONG_TEXT' | translate }}</span>
	</p>
    <p class="mg-0"><input name="typeNumRad" type="radio" id="typeNumRad1" value="{{ctrl.clipTypeEnum.SHORT_TEXT}}" ng-model="ctrl.textModel.textType"/>
        <label for="typeNumRad1" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.TEXT.SHORT_TEXT_INSTRUCTION' | translate }}</label></p>
    <p class="mg-0"><input name="typeNumRad" type="radio" id="typeNumRad2" value="{{ctrl.clipTypeEnum.LARGE_CLIP}}" ng-model="ctrl.textModel.textType"/>
        <label for="typeNumRad2" class="tmp-type-rad">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.TEXT.LONG_TEXT_INSTRUCTION' | translate }}</label></p>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="ctrl.textAgree()">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.AGREE' | translate }}</a>
    </div>
</div>