<div><p class="mg-0 modalmsgtxt">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.SNS.INSTRUCTIONS' | translate }}</p>
	<p>{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.SELECTED_FIELD' | translate }} 
		<span>{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.SNS.SELECTED_NOT_SELECTED' | translate }}</span>
	</p>
    <p class="mg-0">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.SNS.SELECTED_NOT_SELECTED' | translate }}</p>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="ctrl.snsAgree()">{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.AGREE' | translate }}</a>
    </div>
</div>