<div id="tmp-modal" class="modal">
    <div class="modal-content">
        <h5>{{ 'CUSTOMER.DASHBOARD.MAIN.CLIPTYPE.MODAL.TITLE' | translate }}</h5>
        <clip-number ng-model="templatesCtrl.vm" ng-show="templatesCtrl.tmpNumberModal"></clip-number>
        <clip-text ng-model="templatesCtrl.vm" ng-show="templatesCtrl.tmpTextModal"></clip-text>
        <clip-mcq ng-model="templatesCtrl.vm" ng-show="templatesCtrl.tmpMcqModal"></clip-mcq>
        <clip-datetime ng-model="templatesCtrl.vm" ng-show="templatesCtrl.tmpDatetimeModal"></clip-datetime>
        <clip-phone ng-model="templatesCtrl.vm" ng-show="templatesCtrl.tmpPhoneModal"></clip-phone>
        <clip-sns ng-model="templatesCtrl.vm" ng-show="templatesCtrl.tmpSnsModal"></clip-sns>
    </div>
</div>