<div class="card-image" ng-include="'app/modules/components/card/partials/card-title-and-image.html'"></div><!-- card-image -->
<div class="card-content">
    <div class="row no-margin no-padding">
        <p class="card-msg card-msg-horizontal">{{card.customMsg}}</p>
    </div>
    <div class="row no-margin no-padding" ng-include="cardCtrl.getInputsPartialPath(card.clipType)"></div>
    <div class="card-content-vertical no-margin no-padding" ng-include="'app/modules/components/card/partials/inputs/unclear.html'"></div>
</div><!-- card-content -->
