<div class="row dbRow1 mg-btm-0">
  <div class="col s12 txt-center ">
    <h5>{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.TITLE' | translate }}</h5>
  </div>
</div>

<div class="row mg-btm-0 mg-top-10">
  <div class="col s12 txt-center mg-top-10">
    <form>
        <div class="input-field prInpDiv mg-top-10">
          <p>{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.NAME_OF_COMPANY.LABEL' | translate }}</p>
          <input id="last_name" type="text" class="validate prInp" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.NAME_OF_COMPANY.PLACEHOLDER' | translate }}">
        </div>
        <div class="input-field prInpDiv">
          <p>{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.DATE_OF_REGISTRATION.LABEL' | translate }}</p>
          <input id="last_name" type="date" class="datepicker prInp" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.DATE_OF_REGISTRATION.PLACEHOLDER' | translate }}">
        </div>
        <div class="input-field prInpDiv">
          <p>{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.EMAIL_ADDRESS.LABEL' | translate }}</p>
          <input id="last_name" type="text" class="validate prInp" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.EMAIL_ADDRESS.PLACEHOLDER' | translate }}">
        </div>
        <div class="input-field prInpDiv">
          <p>{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.COMPANY_ADDRESS.LABEL' | translate }}</p>
          <input id="last_name" type="text" class="validate prInp" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.COMPANY_ADDRESS.PLACEHOLDER' | translate }}">
        </div>
        <div class="input-field prInpDiv">
          <p>{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.PHYSICAL_ADDRESS.LABEL' | translate }}</p>
          <input id="last_name" type="text" class="validate prInp" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.PHYSICAL_ADDRESS.PLACEHOLDER' | translate }}">
        </div>
        <div class="input-field prInpDiv">
          <p>{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.COUNTRY.LABEL' | translate }}</p>
          <input id="last_name" type="text" class="validate prInp" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.COUNTRY.PLACEHOLDER' | translate }}">
        </div>
        <div class="input-field prInpDiv">
          <p>{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.SECURITY_QUESTION.LABEL' | translate }}</p>
          <input id="last_name" type="text" class="validate prInp" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.SECURITY_QUESTION.PLACEHOLDER' | translate }}">
        </div>
        <div class="input-field prInpDiv">
          <p>{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.ANSWER.LABEL' | translate }}</p>
          <input id="last_name" type="text" class="validate prInp" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.FIELDS.ANSWER.PLACEHOLDER' | translate }}">
        </div>
    </form>
  </div>
  <div class="col s12 txt-center mg-top-10">
	  <button class="btn waves-effect waves-teal exBtn" type="submit">{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.BUTTONS.CHANGE_PASSWORD.LABEL' | translate }}
	      <i class="fa fa-unlock-alt" aria-hidden="true"></i>
	  </button>
	  <button class="btn waves-effect waves-teal exBtn" type="submit">{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.BUTTONS.EDIT_PROFILE.LABEL' | translate }}
	      <i class="fa fa-pencil" aria-hidden="true"></i>
	  </button>
	  <button class="btn waves-effect waves-red exBtn" type="submit">{{ 'CUSTOMER.DASHBOARD.MAIN.PROFILE.BUTTONS.SAVE_PROFILE.LABEL' | translate }}
	      <i class="fa fa-hdd-o" aria-hidden="true"></i>
	  </button>
  </div>
</div>