<div ng-controller="loginController as loginCtrl" class="lg-loginController" ng-init="loginCtrl.init()">
	<div class="row">
        <div class="col s12 m6 offset-m3 l4 offset-l4">
        	<div class="lg-loginBox z-depth-3">
		        <div class="row">
                    <form class="col s12">


                        <div class="row">
                            <div class="input-field col s12 lg-imgCont">
                            	<img src="assets/img/logo.png" alt="Logo" height="120" width="120">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="mdi-social-person-outline prefix"></i>
                                <input type="email" id="inputEmail" class="validate" ng-model="loginCtrl.vm.username" required autofocus>
                                <label for="inputEmail">Username</label>
                            </div>
                            <!-- col -->
                        </div>
                        <!-- row -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="mdi-action-lock-outline prefix"></i>
                                <input type="password" id="inputPassword" ng-model="loginCtrl.vm.password" class="validate" required>
                                <label for="inputPassword">Password</label>
                            </div>
                            <!-- col -->
                        </div>

                        <div class="row mg-btm-0">
                            <div class="col s8 offset-s2" ng-show="loginCtrl.vm.alerts.length > 0">
                                <p class="lgErrorMsg red accent-2 txt-center" ng-class="isSigninError ? 'sp-op-1' : 'sp-op-0'">
                                    {{loginCtrl.vm.alerts[1].ERROR}}
                                </p>
                            </div>
                        </div>

                        <!-- row -->
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light col s12" ng-click="loginCtrl.login()">Sign in</button>
                            </div>
                            <!-- col -->
                        </div>
                        <!-- row -->
                    </form>
                </div>
        	</div>
		</div>
	</div>

</div>