<div>
    <nav class="rightmenu">
        <p class="rightHead">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.TITLE' | translate }}<i class="fa fa-times-circle" aria-hidden="true"></i></p>
        <form name="addZoneForm" class="addZoneForm">
        <div class="row addZoneFormDown">
            <div class="input-field col s12 txt-center mg-top-10">
                <select class="rgt-template-select" ng-model="addZoneCtrl.vm.CLIP_TYPE"
                        ng-options="clips.value as clips.name for clips in addZoneCtrl.CLIP_TYPE_DESC"
                        ng-selected="addZoneCtrl.vm.CLIP_TYPE" ng-disabled="(!(templatesModel.allowZoneMarking))||(!(templatesModel.allowFieldInput))">
                    <option value="">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.SELECT_TYPE' | translate }}</option>
                </select>
                <label>FIELD TYPE</label>
            </div>
            <div class="col s12 txt-center">
                <input id="field_name" type="text" class="validate rgt-template-inp" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.FIELD_NAME' | translate }}" ng-model="addZoneCtrl.vm.CLIP_FIELD_NAME" name="fieldName"  ng-disabled="!(templatesModel.allowFieldInput)" ng-blur="addZoneCtrl.duplicateCheck(addZoneCtrl.vm.CLIP_FIELD_NAME);">
                <span class="errorMsgAddZone">
                     *{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.WHITESPACE' | translate }}
                </span>
            </div>
            <div class="input-field col s12 txt-center mg-top-10">
                <select class="rgt-template-select" ng-model="addZoneCtrl.vm.CLIP_QUALITY"
                ng-disabled="(!(templatesModel.allowZoneMarking))||(!(templatesModel.allowFieldInput))"
                        ng-options="q.value as q.name for q in addZoneCtrl.QUALITY_TYPE">
                </select>
                <label>{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.QUALITY' | translate }}</label>
            </div>
            <div class="input-field col s12 txt-center mg-top-10">
                <select class="rgt-template-select" ng-model="addZoneCtrl.vm.CLIP_SLA"
                        ng-disabled="(!(templatesModel.allowZoneMarking))||(!(templatesModel.allowFieldInput))"
                        ng-options="q.value as q.name for q in addZoneCtrl.SLA">
                </select>
                <label>{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.SLA' | translate }}</label>
            </div>
            <div class="input-field col s12 txt-center mg-top-10">
                <select class="rgt-template-select" ng-model="addZoneCtrl.vm.LANGUAGE_SRNO"
                        ng-disabled="(!(templatesModel.allowZoneMarking))||(!(templatesModel.allowFieldInput))"
                        ng-options="q.value as q.name for q in addZoneCtrl.LANGUAGE">
                </select>
                <label>{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.LANGUAGE' | translate }}</label>
            </div>
            <div class="col s12 txt-center seqdiv mg-top-10">
                <input id="seq_no" type="number" class="validate rgt-template-inp" 
  					placeholder="1"  ng-model="addZoneCtrl.vm.CLIP_SEQ_NO" ng-disabled="(!(templatesModel.allowZoneMarking))||(!(templatesModel.allowFieldInput))">
                <label>SEQUENCE NO.</label>
            </div>
            <div class="col s12 txt-center subseqdiv mg-top-10">
                <input id="subseq_no" type="number" class="validate rgt-template-inp" placeholder="1"
                 ng-model="addZoneCtrl.vm.CLIP_SUB_SEQ_NO" ng-disabled="(!(templatesModel.allowZoneMarking))||(!(templatesModel.allowFieldInput))">
                <label>SUB SEQUENCE NO.</label>
            </div>
            <div class="col s12 txt-left mg-top-10">
                <p class="rgt-template-mand-txt">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.MANDATORY' | translate }}</p>
            </div>
            <div class="col s6 txt-center rgt-template-rad">
                <input name="rad1" type="radio" id="rad1Yes" ng-model="addZoneCtrl.vm.CLIP_MANDATORY" value="Y"  ng-disabled="(!(templatesModel.allowZoneMarking))||(!(templatesModel.allowFieldInput))"/>
                <label for="rad1Yes">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.YES' | translate }}</label>
            </div>
            <div class="col s6 txt-center rgt-template-rad">
                <input name="rad1" type="radio" id="rad1No" ng-model="addZoneCtrl.vm.CLIP_MANDATORY" value="N" ng-checked="true"  ng-disabled="(!(templatesModel.allowZoneMarking))||(!(templatesModel.allowFieldInput))"/>
                <label for="rad1No">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.NO' | translate }}</label>
            </div>
            <div class="input-field col s12 txt-center rgt-template-txtarea-div">
                <textarea id="textarea1" class="materialize-textarea rgt-template-txtarea" placeholder="{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.CUSTOM_MESSAGE' | translate }}" ng-model="addZoneCtrl.vm.CUSTOM_MESSAGE" maxlength="140" ng-disabled="(!(templatesModel.allowZoneMarking))||(!(templatesModel.allowFieldInput))"></textarea>
                <span class="txtRemaining">
                    {{140 - (addZoneCtrl.vm.CUSTOM_MESSAGE.length || 0)}} {{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.CHARACTERS_LEFT' | translate }}
                </span>
            </div>
            <div class="col s12 txt-center rgt-template-save-div">
                <a class="waves-effect waves-light btn tmpBtn addZoneBtn" onclick="allow_draw = true;" ng-click="addZoneCtrl.addZone(); addZoneCtrl.alertfn();">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.ADD_ZONE' | translate }}</a>
                <a class="waves-effect waves-light btn tmpBtn editModalBtn" ng-click="addZoneCtrl.editZone()">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.EDIT_ZONES' | translate }}</a>
            </div>
            <div class="col s12 txt-center rgt-template-save-div">
                <a class="waves-effect waves-light btn tmpBtn" ng-click="addZoneCtrl.saveZone()">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.ADD.SAVE_TEMPLATE' | translate }}</a>
            </div>
        </div>
        </form>
    </nav>
</div>

<!-- -->

<div ng-include="'app/modules/components/addzone/edit.zone.view.html'"></div>



