<div id="editModal" class="modal">
    <span class="closeEditModal" ng-click="addZoneCtrl.closeModal();"><i class="fa fa-times" aria-hidden="true"></i></span>
    <div class="modal-content">
        <div class="tableHeadDiv">
            <table class="overheadTable editTable">
                <thead>
                <tr class="headTr txt-center">
                    <th style="width: 140px;">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.TABLE.HEADERS.FIELD_NAME' | translate }}</th>
                    <th style="width: 85px;" >{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.TABLE.HEADERS.MANDATORY' | translate }}</th>
                    <th style="width: 185px;">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.TABLE.HEADERS.CLIP_TYPE' | translate }}</th>
                    <th style="width: 100px;">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.TABLE.HEADERS.QUALITY' | translate }}</th>
                    <th style="width: 70px;" >{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.TABLE.HEADERS.SLA' | translate }}</th>
                    <th style="width: 80px;" >{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.TABLE.HEADERS.SEQ_NO' | translate }}</th>
                    <th style="width: 100px;">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.TABLE.HEADERS.SUBSEQ_NO' | translate }}</th>
                    <th style="width: 145px;">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.TABLE.HEADERS.CUSTOM_MESSAGE' | translate }}</th>
                    <th style="width: 65px;" >{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.TABLE.HEADERS.OPTIONS' | translate }}</th>
                </tr>
                </thead>            
            </table>
        </div>
        <div class="tableBodyDiv">
            <table class="bordered highlight editTable">
                <thead class="innerTableHead">
                <tr class="headTr txt-center">
                    <th >Field Name</th>
                    <th >Mandatory</th>
                    <th >Clip Type</th>
                    <th >Quality</th>
                    <th >SLA</th>
                    <th >Seq No.</th>
                    <th >Sub Seq No.</th>
                    <th >Custom Msg</th>
                    <th >Options</th>
                </tr>
                </thead>

                <tbody class="bodyTr">
                <tr ng-repeat="marked in templatesModel.template.markedZoneArray">
                    <td style="width: 140px;">
                        <input type="text" ng-model="marked.CLIP_FIELD_NAME" value="{{marked.CLIP_FIELD_NAME}}" class="editModalinp" />
                    </td>

                    <td style="width: 85px;">
                        <select ng-model="marked.CLIP_MANDATORY" class="editModalinp">
                            <option value="Y">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.YES' | translate }}</option>
                            <option value="N">{{ 'CUSTOMER.DASHBOARD.MAIN.ADD_ZONE.EDIT.NO' | translate }}</option>
                        </select>
                    </td>

                    <td style="width: 185px;">
                        <select class="editModalinp" ng-model="marked.CLIP_TYPE" ng-options="clips.value as clips.name for clips in addZoneCtrl.CLIP_TYPE_DESC">
                        </select>
                    </td>

                    <td style="width: 100px;">
                        <select class="editModalinp" ng-model="marked.CLIP_QUALITY"  ng-options="q.value as q.name for q in addZoneCtrl.QUALITY_TYPE">
                        </select>
                    </td>
                    <td style="width: 70px;">
                        <select class="editModalinp" ng-model="marked.CLIP_SLA" ng-options="q.value as q.name for q in addZoneCtrl.SLA">
                        </select>
                    </td>

                    <td style="width: 80px;">
                        <input type="number" ng-model="marked.CLIP_SEQ_NO" value="{{marked.CLIP_SEQ_NO}}" class="editModalinp" />
                    </td>

                    <td style="width: 100px;">
                        <input type="number" ng-model="marked.CLIP_SUB_SEQ_NO" value="{{marked.CLIP_SUB_SEQ_NO}}" class="editModalinp" />
                    </td>

                    <td style="width: 145px;">
                        <input type="text" ng-model="marked.CUSTOM_MESSAGE" value="{{marked.CUSTOM_MESSAGE}}"  class="editModalinp"/>
                    </td>

                    <td style="width: 65px;" class="txt-center"><i style="color: #035C75; margin-right: 5px; cursor: pointer;" class="fa fa-floppy-o idenRow" aria-hidden="true"></i>
                        <i style="color: red; cursor: pointer;" class="fa fa-times" id="remEditTr" aria-hidden="true"
                           ng-click="templatesModel.template.markedZoneArray.splice($index,1); addZoneCtrl.onDeleteModal({index:$index}); addZoneCtrl.alertfn();"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>